[2015-08-17 07:58] opatut opened #1 "Provide a license"
Please provide a license file (is it MIT now?) in each project's repository root.

[2015-08-17 10:20] #1 closed

[2015-08-21 09:32] marionebl opened #2 "Template components"
Original submission by @Dangoo:
With the current implementation, writing components in a templating language other than JSX is a bit complicated and can result in a bunch of empty, unused files and overhead.

Solution:
Implement a way to add "template profiles" wich define a pattern how components are handled, e.g.:

[code]

wich results in the following comoponent structure:

[code]

[2015-08-21 09:33] marionebl opened #3 "Route overwriting fails when patternplate is installed with npm@^3"
**Actual**
When installing `patternplate` via `npm@^3` patternplate starts successfully, but requests against `/` show the default boilerplate index route instead of the `patternplate-client` index route.

**Expected**
Regardless of install tool the route overwriting mechanism has to work.

**Considerations**
This is most likely a bug buried in the route or engine hook of `boilerplate-server` base

[2015-08-21 10:01] marionebl opened #4 "Precedence chain for host and port environment variables"
Set up a precedence chain that matches the one found for basicauth.

`PATTERNPLATE_*_* > PATTERNPLATE_* > BOILERPLATE_* > NODE_* > *`

[2015-08-21 10:03] marionebl opened #5 "Declarative plugin system"
Initial submission by @opatut

**DESCRIPTION WIP**

We need a plugin system. It might even become a separate project, or be merged into boilerplate-server. This is what it might look like:

* each plugin is a complete boilerplate-server instance
* each plugin is mounted at a configurable (declarative) mountpoint
* the plugins may communicate using an event-like manager/emitter that supports callba

[2015-09-04 07:57] Tschoatscho opened #7 "Links in particle documentation don't work"
Links in "index.md" (Tab "Documentation") don't work if content of tab "Markup" is not visible.
Obviously the latter catches mouse events even when hidden.
When tab "Markup" is visible tab "Documentation" is pushed down within the page and all links work. Otherwise only links in "Documentation" which are positioned below the height of "Markup" content respond to clicks.

[2015-09-04 08:02] opatut commented on #7
Thank you for your contribution. However, this issue has already been reported in sinnerschrader/patternplate-client#3. Please follow progress there to stay updated.

Generally speaking, this is a frontend-only problem, so it's scope is the patternplate-client project.

[2015-09-04 08:03] #7 closed

[2015-12-04 09:08] LKuechler opened #10 "Dependet Column on Windows is empty"
On Windows the column with dependent patterns is always empty, even when the parent pattern shows the pattern as a dependency.

Windows 10
Node: v4.2.2

[2016-01-15 06:50] marionebl opened #11 "patternplate-console returns wrong exit code"
Under certain circumstances patternplate-console returns a `0` exit code albeit the executed task fails. This is detrimental to usage in build processes and such and has to be fixed.

[2016-01-27 10:45] vegiepatch opened #13 "Build fails for environments with different name"
Adding a new environment for building another css file fails if name of folder and generated file are not the same.

Patternplate v 0.14.3

[2016-01-27 11:03] marionebl commented on #13
Hey @vegiepatch,
thanks for reporting!

could you provide some additional information?
What would be especially of interest would be

* the failing environments configurations
* the used build task (`patternplate-console build` or `patternplate-console commonjs`)
* the stack trace of the error message if any.

[2016-01-27 11:28] vegiepatch commented on #13
Hi Mario,

The build failed with npm run build. For the stack trace please see below
(verbose output attached).

Regards,
Simone

Mac OSX 10.10.5
node v4.0.0
npm 2.14.2

...
2016-01-27T11:20:54.608Z - info: [patternplate-server] [console:run]
Starting taskName "build"...
2016-01-27T11:20:54.609Z - warn: [patternplate-server] [console:run]
Starting taskName "build" without configuration...
2016-01-

[2016-01-28 16:13] Xiphe opened #14 "Hi there"
Hello lovely patternplate people :)

@KarstenBuckstegge and @meandmax told me about this project and since i'm currently working on a ui-library for @Jimdo i'm really curious on your approach on this.

We're currently on the status of having a central place to write the css for our patterns which can be consumed as a bower component along with a sass file containing constants like colors and anima

[2016-01-28 16:30] LKuechler opened #15 "Init task for new patterns"
The task should create basic files for a new pattern.

Ticket based on [patternplate vision meeting](./vision/patternplate-vision-16-01-21.md)

[2016-01-28 16:31] LKuechler commented on #15
Should this task create the files out of a customisable preset?

[2016-01-28 16:34] LKuechler opened #16 "Search functionality for patterns"

[2016-01-28 16:37] LKuechler opened #17 "Tagging System"
Ability to add Tags for each Pattern.
This Feature can then be used in alternative display methods for the pattern structure. #18

Ticket based on [patternplate vision meeting](./vision/patternplate-vision-16-01-21.md)

[2016-01-28 16:44] LKuechler opened #18 "Customizeable structuring of the pattern structure"
For this feature the search( #16 ) is a manadatory dependency.

Possible display methods:
* dependency tree
* sorting by tags #17

Ticket based on [patternplate vision meeting](./vision/patternplate-vision-16-01-21.md)

[2016-01-28 16:50] LKuechler opened #19 "Pattern demo dependencies"
Add possibility to add pattern demo dependencies to pattern.json that can only be used in demo files.

They could behave like the package.json because it would be easy to document, explain and understand.

Ticket based on [patternplate vision meeting](./vision/patternplate-vision-16-01-21.md)

[2016-01-31 14:08] #11 closed

[2016-02-08 14:06] marionebl commented on #14
Hey @Xiphe,

sorry for the delay (pretty deep into the woods getting [this](https://github.com/sinnerschrader/patternplate-server/tree/feature/faster-yet-no-pattern-cache) released) and thanks for reaching out!

What we strive to build is a system where everything, the markup included, is part of defined APIs and a completely transparent dependency tree. Currently we achieve this by relying on Rea

[2016-02-08 15:19] marionebl commented on #14
cc @KnisterPeter @Dangoo

[2016-02-08 18:40] Xiphe commented on #14
Great! Since i'm quiet busy the next weeks i've sent you a doodle link with my free times to the public E-Mail-Adress from your Github repo. I'm really looking forward to this ;)

[2016-02-09 08:18] KarstenBuckstegge commented on #14
\o/ Please let me know when this meeting is happening as well. I would love to join in. :)

[2016-02-09 10:40] Xiphe commented on #14
karsten, i've sent you the doodle link. If anybody else wants to join, feel free to drop me a line. Though i think it would be most productive if we keep the round at about 3-6 people

[2016-02-10 07:54] KnisterPeter commented on #14
I would love to attend as well

[2016-02-10 10:11] Xiphe commented on #14
@KnisterPeter please ask @marionebl for the doodle-link or [send me an E-Mail](mailto:hannes.diercks@jimdo.com)

[2016-02-10 20:58] Xiphe commented on #14
Sorry guys, i missed that i'll not be in Hamburg on the 23.02. i added a few more options.

[2016-02-10 21:02] Xiphe commented on #14
Or should we "under four eyes" @marionebl or @Dangoo?
Maybe that would be enough to get to know each other and check if the directions we're heading at actually match. Later on we could then come together with a bigger group and come up with an action plan or so...

[2016-02-11 08:00] marionebl commented on #14
Hey @Xiphe, I'd be fine with a smaller meeting to kick off the bigger one. Let's meet up on the 17th then, location to your choosing.

[2016-02-11 09:09] Dangoo commented on #14
Hey @Xiphe and @marionebl, sadly can't make it the 17th…
Will grab information afterwards ;)

[2016-02-17 09:49] Xiphe commented on #14
Ok @marionebl i'd like to go to [Altes Mädchen](http://de.altes-maedchen.com/) is that fine for you? Or s.th. closer like [Titanic](https://www.tripadvisor.de/Restaurant_Review-g187331-d1038823-Reviews-Titanic-Hamburg.html)?

[2016-02-17 15:10] marionebl commented on #14
Altes Mädchen is fine, see you there.

[2016-02-17 15:10] #14 closed

[2016-02-17 16:45] Xiphe commented on #14
:+1:

[2016-02-18 15:15] Xiphe opened #20 "Hands-on meeting"
As a result of #14 we'd like to meet somewhere a bit more quiet, to get our hands dirty and play around with this project.

Here is a doodle: http://doodle.com/poll/p9a5r75hxzb8kkzi

For Jimdo we'd like to evaluate if we could switch the tooling of our ui-library to patternplate

For the patternplate project this could lead to new insights and we could write some documentation for setup, common qu

[2016-02-18 15:15] Xiphe commented on #14
So @marionebl @KarstenBuckstegge and me met yesterday evening.

We want to try to build a JSX to anything parser that could play well together with the upcoming concept of environments in the pattern plate. Mario will split existing logic into a new repository in order to have a single purpose tool we can iterate on.

We'd like to dig deeper and see if and why (not) Jimdo could build it's ui-libra

[2016-02-19 08:59] Xiphe commented on #20
cc @lassediercks @bjoernjimdo @christian-meyer-jimdo @filtercake @HerrBertling @marcroman @yaaan @KarstenBuckstegge

[2016-02-19 09:20] marionebl commented on #20
thanks @Xiphe!

[2016-02-19 11:44] HerrBertling commented on #20
:+1:

[2016-02-22 15:12] LKuechler opened #21 "Unexpected keys in environment files after patternplate update"
After updating the patternplate to version 0.15.13 and moving keys in environment files inside transforms, the deprecation message is thrown without any keys.

`Found unexpected keys  in environment index.environment. Placing keys other than patterns,transforms,log in index.environment is deprecated, move the keys to index.environment.transforms`

[2016-02-22 15:35] LKuechler opened #22 "error with specific environments after update to 0.15.13"
The build throws the error that in the generated "@environments/special/index.less" the variable "@ns" would be not defined. The file seems to miss the defined globalVars.
This is not happening with environments that apply on all patterns.

[code]

[2016-02-23 08:18] marionebl commented on #22
Hey @LKuechler, I investigated this with the code samples provided off the record and found this is caused by misconfiguration - for including and excluding you'll have to use fully qualified glob patterns, e.g. `['**/*', '!special/**/*']`. Anyway, the system could be more helpful with giving hints about bad `applyTo` config, I'll open a seperate issue for this

[2016-02-23 08:28] marionebl opened #23 "Validate applyTo config in environment"
Environment configuration currently allows for misconfiguration causing the `build-bundles` task to fail. This is caused by situations where the environments includes patterns depending on patterns not matching the applyTo config. This could easily be validated and issue a warning / throw an error.

[2016-02-23 09:03] marionebl opened #24 "Validate dependency structure"
A way to configure validation for dependency structures between pattern folder could be hugely beneficial, especially for projects with large dependency trees.

This should allow:
* Applying arbitrary number of rules to arbitrary paths in `patterns` via positive and negative glob patterns
* Configure the severity of rules, supporting `['warn', 'error']`
* Configuring arbitrary numbers allowed depe

[2016-02-23 09:03] marionebl commented on #24
cc @KnisterPeter @Dangoo

[2016-02-23 11:27] marionebl commented on #22
Mea culpa, this is indeed a problem with the `build-bundles` task. I'll publish a fix for this any minute now.

[2016-02-23 11:30] marionebl commented on #22
@LKuechler, released with 0.14.9 - could you retest and close if fixed?

[2016-02-24 17:31] KnisterPeter commented on #24
What is the severity good for?

[2016-02-24 17:32] Dangoo commented on #24
For experienced user it could be helpfull and even speed up the dependency resolving (+1).

But on the other hand side it add another layer of complexity to understand for newcomers…

[2016-02-24 17:36] marionebl commented on #24
@KnisterPeter The severity should allow for control if breaking a given rules yields warning or errors, something I'd consider a given concerning the configurability of linting functionality.

[2016-02-24 17:38] marionebl commented on #24
@Dangoo: By default patternplate wouldn't define any dependency structure rules, this stays strictly optional. As a plus I'd devise an easy way to generate an UML description (like [this](https://github.com/sinnerschrader/patternplate#development)) of the allowed dependency relations. Does this address your concern?

[2016-02-24 18:34] KnisterPeter commented on #24
+1 from me

[2016-02-26 08:04] felabr commented on #24
Can we tell apart dependencies used in patterns from dependencies used only in demos? I wouldn't want the demo ones to be considered here.

[2016-02-29 09:29] p0wl commented on #20
would love to join (filled out the doodle, looks like we have a favorite)!

[2016-02-29 16:20] KarstenBuckstegge commented on #20
@marionebl what about with the S2 posse? I guess some of them would be interested in that topic as well but I don't see them in the doodle. Also, I guess it could get problematic with the meeting time at Friday morning if a few of them want to join...

[2016-03-01 11:45] Xiphe commented on #20
Friday 11.03. 11:00  - 15:00 looks promising. I blocked our "Melmac" Confi, that should suite 8-10 People. Will add details later on.

[2016-03-01 18:39] marionebl commented on #20
Hey @KarstenBuckstegge, @Xiphe and all! Looking forward to this; I'll ping the S2 colleagues tomorrow about this.

[2016-03-06 18:27] marionebl commented on #2
This is obsolete by now. Using a non-jsx templating engine is as easy as creating a new transform

[2016-03-06 18:27] #2 closed

[2016-03-06 18:27] marionebl commented on #3
Obsolete

[2016-03-06 18:27] #3 closed

[2016-03-06 18:27] marionebl commented on #4
Implemented

[2016-03-06 18:27] #4 closed

[2016-03-06 18:30] marionebl commented on #22
Solved

[2016-03-06 18:30] #22 closed

[2016-03-06 18:30] marionebl commented on #23
Won't implement

[2016-03-06 18:30] #23 closed

[2016-03-06 18:32] marionebl opened #27 "Feat: Brand (multi color) mode"
_From @Dangoo on February 24, 2016 17:28_

Patternplate can display patterns designed for one single brand/client.
But sometimes it is necessary to build a white label solution and display some occurrences.
What about adding a switch to enable testing of different versions of the patterns?

_Copied from original issue: sinnerschrader/patternplate-client#165_

[2016-03-06 18:32] marionebl commented on #27
Basically `patternplate-server` already supports this via the environments functionality (documentation pending).

We could devise a simple interface (GET-parameters?) for the`patternplate-client` to force a given environment on the patterns it requests from `patternplate-server`.

The bulk of the work for this would have to be done in [routes/pattern.js](https://github.com/sinnerschrader/patternp

[2016-03-06 18:32] marionebl commented on #27
_From @Dangoo on February 24, 2016 17:37_

I'd suggest either globally on the place of the former download select or directly in the head of each pattern (Toolbar planed for 1.0 required)

[2016-03-06 18:32] marionebl commented on #27
I'm strongly in favor of locating this at individual patterns as environment config essentially applies to each pattern individually.

[2016-03-06 18:32] marionebl commented on #27
_From @KnisterPeter on February 24, 2016 18:38_

I would favor it in the toolbar as well

[2016-03-06 18:33] marionebl opened #28 "Provide a "Story Mode""
_From @marionebl on December 3, 2015 8:9_

`patternplate-client` currently does a good job to explain the created pattern libraries to techs, but everyone else really doesn't quite get what is happening.

This could be alleviated by providing a new view on the pattern library that works on the things traditionally shown by a PDF styleguide. This includes

* A linear document ordered in categories,

[2016-03-06 18:33] marionebl commented on #28
_From @felabr on December 3, 2015 12:22_

There are some aspects of traditional PDF styleguides that may also help techs. Currently it is not always easy to connect information from the documentation with the patterns shown in the demos. It would probably help to show information (sizes, margins, etc.) next to the demo pattern itself (not hidden in some tab at the bottom). It would probably help t

[2016-03-06 18:33] marionebl opened #29 "<PatternSection> displays 'No type:' when exceptions are thrown"
_From @marionebl on August 28, 2015 9:42_

**Actual**
* `<PatternSection>` displays 'No type:'
* See the attached screenshot

![bildschirmfoto 2015-08-28 um 11 36 12](https://cloud.githubusercontent.com/assets/4248851/9543521/bffb3516-4d79-11e5-9f80-4cd7be21f6e6.png)

**Expected**
* `<PatternSection>` displays the the `<PatternLoader>` with red dot

**Steps to reproduce**
* Invalidate a pattern by

[2016-03-06 18:33] marionebl opened #30 "Use seti styles for syntax highlighting in dark mode"
_From @marionebl on August 21, 2015 10:15_

**Actual**

tomorrow-night styles are used

**Target**

seti styles are used

**Considerations**

In terms of integration it would be beneficial to create a pull-request against the used syntax highlighter, highlightjs. Evaluate if the markdown-theme should be migrated, too.

_Copied from original issue: sinnerschrader/patternplate-client#7_

[2016-03-06 18:33] marionebl opened #31 "Use yeti styles for syntax highlighting in light mode"
_From @marionebl on August 21, 2015 10:14_

**Actual**

tomorrow styles are used

**Target**

yeti styles are used

**Considerations**

In terms of integration it would be beneficial to create a pull-request against the used syntax highlighter, highlightjs. Evaluate if the markdown-theme should be migrated, too.

_Copied from original issue: sinnerschrader/patternplate-client#6_

[2016-03-06 18:34] marionebl opened #32 "Sanitize CSS Layout"
_From @marionebl on August 21, 2015 10:11_

**Actual**

The Layout depends on hardcoded values for width of the navigation and the content areas

**Target**

Use `flex-box` for base layout, fall back to display table for older browsers.

_Copied from original issue: sinnerschrader/patternplate-client#5_

[2016-03-06 18:34] marionebl opened #33 "Make interface easily customizable"
_From @marionebl on August 21, 2015 10:6_

**Actual**

Customizing the interface requires forking/modifying patternplate/patternplate-client

**Target**

Modifying the interface should be possible by

- Settings concerning things to display/hide
- Overriding LESS variables
- Specifying custom icon files
- Providing arbitrary static assets
- A Plugin API that hooks into components via special lifec

[2016-03-06 18:35] marionebl opened #34 "react-mount is slow"
_From @marionebl on March 4, 2016 8:35_

The react automount feature introduced with https://github.com/sinnerschrader/patternplate-server/commit/0537fedbf7610243cc081f3330df39c7f586720d is slow.

Thanks @KnisterPeter  for doing the initial report.

According to my first profilings this appears to be an issue with the `react` transform performing the required babel transformations in a wildly inef

[2016-03-06 18:35] marionebl commented on #34
This will be partially adressed by https://github.com/sinnerschrader/patternplate-transform-react/commit/f7f7b995390104e9c7313131840b86c81544cbb9.

This includes some massive changes like a switch to ast-based JSX comprehension which will more likely than not change the behaviour of the react-transform in unexpected ways. I am holding the switch to ast-based transformation back until tested and ba

[2016-03-06 18:35] marionebl opened #35 "Autogenerated API documentation for Patterns"
_From @LKuechler on January 28, 2016 16:24_

* generation based on props and proptypes
* handwritten documentation as a separate file

Ticket based on [patternplate vision meeting](./vision/patternplate-vision-16-01-21.md)

_Copied from original issue: sinnerschrader/patternplate-server#52_

[2016-03-06 18:35] marionebl opened #36 "Transforms[transformName].name is super magic"
_From @meandmax on January 17, 2016 12:47_

The correlation between formats, transform.inFormat, transform.outFormat is not clear and the said config key is

* very specific and undocumented
* case sensitive

This makes writing new transforms near to impossible if you are no core-developer. This needs a better API and documentation rather badly.

_Copied from original issue: sinnerschrader/pattern

[2016-03-06 18:35] marionebl commented on #36
The process of adding new transforms is suboptimal in the moment. I am thinking about moving the meta data definitions to the transform definitions by default and letting the user override them via the current config options - this would keep the change non-breaking.

I'll post an example, stay tuned

[2016-03-06 18:35] marionebl opened #37 "enable requires between source files of a single pattern"
_From @marionebl on January 12, 2016 19:19_

For certain use cases requires/imports between the source files of different patterns has to be possible.

Examples
* css-modules
* manual mounting of react components on the client side

The proposed format to achieve this is the usage of a `pattern://` url scheme while keeping the `Pattern` keyword and plain localName requires working for the time bei

[2016-03-06 18:35] marionebl commented on #37
cc @Dangoo

[2016-03-06 18:36] marionebl commented on #37
Needs implementation to enable https://github.com/nerdlabs/patternplate-transform-cssmodules-symbols
https://github.com/nerdlabs/patternplate-transform-cssmodules

[2016-03-06 18:36] marionebl opened #38 "Support css-modules"
_From @KnisterPeter on December 1, 2015 18:21_

Support the usage of css-modules as per https://github.com/css-modules/css-modules. A first implementation could use the css-modulesify browserify-transform.

Be sure to make this a non-breaking change, keeping the current default behavior around.

_Copied from original issue: sinnerschrader/patternplate-server#34_

[2016-03-06 18:36] marionebl commented on #38
This depends on #44

[2016-03-06 18:36] marionebl commented on #38
On the way in
https://github.com/nerdlabs/patternplate-transform-cssmodules-symbols
https://github.com/nerdlabs/patternplate-transform-cssmodules

[2016-03-06 18:36] marionebl opened #39 "Markup documentation indentation"
_From @KnisterPeter on December 1, 2015 18:20_

Indentation is broken if elements are non-self-closing without closing tag (e.g. &lt;input>)

_Copied from original issue: sinnerschrader/patternplate-server#33_

[2016-03-06 18:37] marionebl opened #40 "TypeScript support"
_From @KnisterPeter on December 1, 2015 18:19_

During export of pattern it would be great to produce definition files (.d.ts) for the patterns.

_Copied from original issue: sinnerschrader/patternplate-server#32_

[2016-03-06 18:37] marionebl commented on #40
_From @KnisterPeter on December 2, 2015 1:17_

This may help: https://github.com/KnisterPeter/react-to-typescript-definitions

[2016-03-06 18:37] marionebl opened #41 "Allow overriding pattern layout/markup template"
_From @levito on October 6, 2015 10:18_

We should have the possibility to override the default layout (i. e. the markup template, in `application/layouts/index.js`). Currently, it is hardcoded in `application/routes/pattern.js` and `application/tasks/build/index.js`.

This is needed for e. g.:
- having different meta tags
- adding attributes to `html` or `body` elements
- globally adding moderniz

[2016-03-06 18:37] marionebl commented on #41
This would also come in handy for simulation of various integration environments, taking this on the roadmap for 0.16.

[2016-03-06 18:37] marionebl opened #42 "JSX patterns break with no blank line between JS and JSX sections"
_From @levito on September 7, 2015 9:53_

JSX Patterns in the following form break:

[code]

This also applies to comments before the JSX block.

This works:
[code]

This also works:
[code]

_Copied from original issue: sinnerschrader/patternplate-server#15_

[2016-03-06 18:37] marionebl commented on #42
https://github.com/sinnerschrader/patternplate-transform-react/commit/f7f7b995390104e9c7313131840b86c81544cbb9

[2016-03-06 18:37] marionebl opened #43 "Style attribute of component passed as prop breaks"
_From @Dangoo on September 3, 2015 7:57_

@KnisterPeter:

When the style attribute is populated in a component which is passed as prop to another component the JSX transform breaks

[code]

[code]

_Copied from original issue: sinnerschrader/patternplate-server#10_

[2016-03-06 18:37] marionebl commented on #43
_From @KnisterPeter on September 4, 2015 8:37_

To fix this we need to rework the react transform to use a parser instead of regexp to find the main jsx-expression.
This will need a bit of time.

[2016-03-06 18:37] marionebl commented on #43
Will be adressed with https://github.com/sinnerschrader/patternplate-transform-react/commit/f7f7b995390104e9c7313131840b86c81544cbb9

[2016-03-06 18:37] marionebl opened #44 "Requirement for a configuration model"
_From @KnisterPeter on August 21, 2015 14:53_

As explained in tasks/build/index.js we need a configuration model to have correct config merging and override behaviour.
This gives more future safety for config changes without breaking changes

_Copied from original issue: sinnerschrader/patternplate-server#5_

[2016-03-06 18:38] marionebl opened #45 "Pattern main names should not enforce index.someext"
_From @KnisterPeter on August 18, 2015 15:11_

I would propose that the main entry-point files into a pattern must not be named index.js or index.less or index...

I think it would be better to have e.g. a sane default (could be index.something) but should be overrideable in the pattern.json. (like the main attribute in the package.json)

_Copied from original issue: sinnerschrader/patternplate-se

[2016-03-06 18:38] marionebl commented on #45
_From @KnisterPeter on August 20, 2015 5:36_

@marionebl, @levito, @opatut, @Dangoo please add your thoughts about this.

[2016-03-06 18:38] marionebl commented on #45
_From @opatut on August 20, 2015 8:1_

You would be required then to define multiple entry points, e.g.

[code]

I think this is very tedious, and don't see the real use of such change. However, this is the typical "convention vs. configuration" problem, and patternplate right now is rather explicit about its configuration. So it might be reasonable to make this configurable, as long as sane defau

[2016-03-06 18:38] marionebl commented on #45
_From @KnisterPeter on August 20, 2015 9:21_

I would suggest something like this:

    {
        "main": "index"
    }

This would allow to define a different basename for you pattern. This should default to "index" if no main entry is given. I see no point in defining a different name for each file.

[2016-03-06 18:38] marionebl commented on #45
_From @opatut on August 20, 2015 9:33_

Two concerns:

1. What exactly is the advantage of this configuration option? Do you have a special case where this is required?
2. How do you specify the demo-filename? If I can change the "index" filename on a per-pattern basis, I should be ablte to change the "demo" filename, too.

I do see a point where you might have different transforms configured, suc

[2016-03-06 18:38] marionebl commented on #45
I think we should build a common understanding of what file basenames actually mean for the pattern logic embedded in patternplate-server.

Currently patternplate-server decides which "concern" (index vs demo) a file fulfills according to the file's basename. This should be independent from in and out formats, which are determined by file extname and formatconfig.

patterplate-server happens to ha

[2016-03-06 22:46] KnisterPeter opened #46 "Default transform factory functions"
If the factory function of a transform is a real es6 module default export, patternplate refuses to start with:

[code]

This is because patternplate expects transform factories to be exposed at module.exports instead of module.exports.default.
A good way would be to look at module.exports.default and if thats not a function, then try module.exports. Afterwards fail.

[2016-03-06 22:55] KnisterPeter commented on #46
See https://github.com/sinnerschrader/patternplate-server/pull/58

[2016-03-07 00:23] marionebl commented on #46
https://github.com/sinnerschrader/patternplate-server/pull/58 landed

[2016-03-07 00:38] marionebl commented on #46
https://github.com/sinnerschrader/patternplate-server/releases/tag/v0.14.21 released

[2016-03-07 00:38] #46 closed

[2016-03-07 01:12] #34 closed

[2016-03-07 10:53] chatzipan opened #47 "Allow react stateless functional components"
At the moment only components that extend the React.Component class are allowed. It would be nice if one could use functional components as well.

[2016-03-07 17:01] marionebl commented on #47
This is in the works at https://github.com/sinnerschrader/patternplate-transform-react/pull/1

[2016-03-08 17:27] marionebl opened #48 "build-commonjs fails when no component dependencies are determined from sources"
[code]

[2016-03-09 13:18] marionebl opened #49 "react-mount assets are not produced for cache"
When specifying react-mount via package.json the needed static cache assets are not produced for production builds

[2016-03-09 16:53] Dangoo opened #50 "css file extension for commonjs export"
Exported CSS files in commonjs-bundle have .less extensions instead of .css extensions.

**is:** .less
**should:** .css

[2016-03-09 19:52] marionebl commented on #50
Thanks for your report, I'll have a look asap

[2016-03-11 15:49] Dangoo opened #51 "Rewrite static ressources paths"
In patternplate static resources are located in `./static/…`and can be accessed via `/api/static/…`.
In the commonjs export the resource url does not get resolved to point to `/static/…` instead of `/api/static/…`. So a module-resolver like webpack (with file-loader) cannot resolve/rewrite the paths to the static resources.

[2016-03-12 19:58] marionebl commented on #51
I removed the bug label, as I think this a missing feature at the very most. I'd like to discuss if this is actually needed or should be solved in user-land by either:

* Using variables in less, sass, postcss to make static paths etc. configurable for the consumer
* A postbuild-step dealing with rewriting urls

A interesting aspect of this could be the question of exposing the contents of `./stat

[2016-03-13 14:46] marionebl commented on #39
@KnisterPeter is this still a thing with React 0.14?

[2016-03-13 14:49] marionebl opened #52 "patternplate-transform-rewrite-includes is not interoperable with postcss"
When importing plain npm dependencies like

[code]

patternplate-transform-rewrite-includes assumes a `npm://` prefix and fails.
This is unexpected behaviour not matching the mechanics of most transforms and should be fixe. patternplate-transform-rewrite-includes should allow for the following imports.

[code]
where localName is a token found in the matching `pattern.json`, and other import names

[2016-03-13 14:50] #52 closed

[2016-03-13 15:00] #48 closed

[2016-03-13 15:58] #21 closed

[2016-03-13 16:00] marionebl commented on #13
Should be solved with patternplate@v0.15.13 and up.

[2016-03-13 16:00] #13 closed

[2016-03-13 16:05] marionebl commented on #42
This appears to be no issue since patternplate-server@0.14

[2016-03-13 16:05] #42 closed

[2016-03-13 22:57] marionebl opened #53 "patternplate-transform-react-to-markup should resolve dependencies"
patternplate-transform-react-to-markup currently expects complete bundles of code to simply execute and render. Instead it should take care of its dependencies on its own.

https://github.com/sinnerschrader/patternplate-transform-react/pull/1

[2016-03-14 14:02] KarstenBuckstegge commented on #20
Roundup of the meeting on 3-11-2016:

- We mainly took a in depth look at both solutions
- the common opinion was, that both sides can benefit from each others accomplishments, ideas and knowledge
- Jimdo pointed out the following patternplate features as the ones that could be useful:
  - Dependency Graph
  - JSX Templates
  - Demo Pages
- S2 pointed out the following ui-library features as the o

[2016-03-17 11:50] timbru31 opened #54 "patternplate-transform-resolve-includes does not add npm dependencies anymore"
The commit https://github.com/sinnerschrader/patternplate-transform-resolve-includes/commit/d5b02d2020927299aae7f757755df0ec57cd5f3c#diff-c60c67bd505d9618ebf77a7f130903d0L35 (line 35) removed the
`file.meta.dependencies.push(packageName);`

This results in the bug that dependencies in e.g. less files are not respected anymore and are lost.

[2016-03-17 13:34] #54 closed

[2016-03-17 13:38] marionebl commented on #54
https://github.com/sinnerschrader/patternplate-transform-resolve-includes/releases/tag/v0.1.4

[2016-03-18 09:53] marionebl commented on #39
This appears to have been fixed with one of the client updates since December 1th

[2016-03-18 09:53] #39 closed

[2016-03-18 09:53] marionebl commented on #45
Abandoned. We will keep this as invariant

[2016-03-18 09:53] #45 closed

[2016-03-21 08:51] KarstenBuckstegge commented on #20
@marionebl if you'd add your answer we can nail down the next meetup date. ;)

[2016-03-21 09:05] marionebl commented on #20
@KarstenBuckstegge Answered, thanks for the reminder

[2016-03-23 21:02] marionebl opened #55 "Consider using transform-async-to-module-method"
Consider switching to transform-async-to-module-method with `bluebird` for

*   `.cancel()`
*   assumed better performance

[2016-03-28 17:58] marionebl commented on #53
See https://github.com/sinnerschrader/patternplate-transform-react-to-markup/releases/tag/v0.3.0

[2016-03-28 17:58] #53 closed

[2016-03-29 11:41] KarstenBuckstegge commented on #20
@marionebl
Because of a important meeting that came up on the 01.04. that nearly all Jimdos have to attend we had to cancel the set date. In order to find a new time, please update your answer in the doodle.
Muchas mercis.
http://doodle.com/poll/m8vxqt77vndxnfxr

[2016-04-02 19:48] marionebl commented on #55
First tests with this in the ast-based transformation branch of [pattenplate-transform-react](https://github.com/sinnerschrader/patternplate-transform-react/blob/feature/ast-detection-transformation/.babelrc) come along nicely

[2016-04-12 12:15] marionebl commented on #10
According to my latest test this is no longer an issue. Can you validate @LKuechler?

[2016-04-12 12:16] marionebl commented on #17
This is implemented as of [patternplate-client@v0.14.5](https://github.com/sinnerschrader/patternplate-client/releases/tag/v0.14.5)

[2016-04-12 12:16] #17 closed

[2016-04-13 13:04] marionebl commented on #51
Any further input on this @Dangoo?

[2016-04-13 13:06] marionebl commented on #50
This is support via the `transforms.resolve-includes` config:

[code]

[2016-04-13 13:06] #50 closed

[2016-04-13 13:06] #32 closed

[2016-04-13 13:07] #29 closed

[2016-04-13 13:08] marionebl commented on #16
Implemented as of [patternplate-client@v0.15](https://github.com/sinnerschrader/patternplate-client/releases/tag/v0.15.0)

[2016-04-13 13:08] #16 closed

[2016-04-13 13:09] #10 closed

[2016-04-13 13:15] Dangoo commented on #51
For any environment with CSS preprocessors which are capable of variable replacement this should not be a problem. I have no better solution for handling that on the tool side independent from the styling processor…

[2016-04-13 13:18] marionebl commented on #51
I am closing this for now. We can pick up the discussion on this when we think about pulling statics into patterns instead of the static folder.

[2016-04-13 13:18] #51 closed

[2016-04-13 13:55] marionebl commented on #55
Thoughts on this @KnisterPeter @ZauberNerd?

[2016-04-14 10:36] marionebl opened #56 "Scroll to active navigation-bar item if needed"
The navigation-bar should scroll to the newly activated item if it is outside the viewport.

[2016-04-14 10:39] marionebl opened #57 "Faulty layout for fixed navigation item on IE10"
The fixed navigation item spans the entire viewport instead of being limited to the current width of the navigation-bar.

Happens on some Chrome browsers, too.

[2016-04-14 10:41] marionebl opened #58 "Ensure correct scroll position when showing slim navigation-bar"
When enabling the slim navigation-bar mode while having scrolled down the navigation-bar, the top-level items are shown only partially. Scroll to the top when enabling slim mode.

[2016-04-14 10:44] marionebl opened #59 "Bad performance when using react auto mounting"
The react auto-mount feature performs poorly due to browserify spending 2 seconds plus on bundling React and friends.

[2016-04-14 11:04] marionebl opened #60 "Loading animation should restart"
### Actual

The loading animation starts at arbitrary frames when waiting for pattern loading

### Expected

The loading animation should start with frame zero

[2016-04-14 12:17] seriouscircus opened #61 "build-commonjs task on windows systems"
On Mac the build-commonjs command runs faster because only an incremental build is performed. On windows always the complete build is executed. Is there an easy fix for this?

[2016-04-14 12:57] marionebl commented on #61
@seriouscircus: Could you provide more details about your OS, then I'll look into it.

[2016-04-14 13:05] seriouscircus commented on #61
perfect.
Windows 10, Node 4.4.0, using Windows Command Prompt or Git Bash

[2016-04-14 13:31] marionebl opened #62 "Adapt fullscreen pattern hint to new pattern demo design"
The fullscreen pattern hint should be adapted to the new pattern demo layout. Evaluate if we can skip loading pattern data altogether for fullscreen patterns.

[2016-04-15 21:32] marionebl opened #63 "IE10 hangs for very large patterns"

[2016-04-15 21:32] marionebl commented on #63
Reported by @martinemmert

[2016-04-15 21:33] marionebl opened #64 "Source Tabs are sluggish on Firefox"
Reported by @martinemmert

[2016-04-16 12:23] marionebl opened #65 "patternplate-transform-react-to-markup ignores named exports"
This bug can be evoked on version `v0.3.0`:

[code]

[code]

[2016-04-16 17:29] marionebl commented on #43
Fixed via https://github.com/sinnerschrader/patternplate-transform-react/releases/tag/v0.3.0

[2016-04-16 17:29] #43 closed

[2016-04-16 17:29] marionebl commented on #65
Fixed via https://github.com/sinnerschrader/patternplate-transform-react-to-markup/releases/tag/v0.3.1

[2016-04-16 17:29] #65 closed

[2016-04-16 17:30] marionebl commented on #47
This is now possible via https://github.com/sinnerschrader/patternplate-transform-react-to-markup/releases/tag/v0.3.1

[2016-04-16 17:30] #47 closed

[2016-04-17 11:17] marionebl opened #66 "Optimize component declarations generated by plain jsx"
### Actual
Plain jsx files include all non-jsx code into the respective render function
[code]

[code]

### Expected
Plain jsx files should hoist everything to the module scope if applicable

[code]

Take cues from https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-react-constant-elements/src/index.js

[2016-04-19 08:03] marionebl opened #67 "patternplate-server should resolve transforms from cwd"
For easier user-selection of deviating transform versions patternplate-server should resolve npm-provided transforms from `process.cwd()` instead of `__dirname`

[2016-04-19 08:04] marionebl commented on #59
Progress at:
https://github.com/sinnerschrader/patternplate-transform-browserify/tree/split-vendors

[2016-04-19 08:05] marionebl commented on #37
Development on this has stalled.

[2016-04-19 09:25] marionebl commented on #59
https://github.com/sinnerschrader/patternplate-transform-browserify/releases/tag/v0.3.0

[2016-04-19 09:25] #59 closed

[2016-04-19 09:46] #67 closed

[2016-04-19 12:33] marionebl commented on #57
Removed the anchoring in 0.15.2

[2016-04-19 12:33] #57 closed

[2016-04-19 12:34] #30 closed

[2016-04-19 12:34] #31 closed

[2016-04-19 12:35] marionebl commented on #56
The breadcrumb already provides context, therefore this is not needed

[2016-04-19 12:35] #56 closed

[2016-04-19 12:37] marionebl commented on #63
Should be alleviated by https://github.com/sinnerschrader/patternplate-client/commit/f2f3a00ac0ab772977a30d7abddab33943737a72

[2016-04-19 12:37] #63 closed

[2016-04-20 13:46] marionebl opened #68 "patternplate-server@0.16.4 breaks transform resolving with npm@2"
https://github.com/sinnerschrader/patternplate-server/blob/master/source/application/hooks/transforms/index.js#L11

[2016-05-03 23:08] martinemmert commented on #27
https://github.com/sinnerschrader/patternplate-server/pull/60

[2016-05-11 15:41] #68 closed

[2016-05-23 11:42] #49 closed

[2016-05-24 14:10] vegiepatch opened #69 "IE8: css is not loaded"
css is not loaded when viewing patterns (both standard and fullscreen mode) with IE8

[2016-05-24 14:42] marionebl commented on #69
Hey @vegiepatch. Thanks for reporting, I'll have a deeper look into this later today!

[2016-05-25 07:34] Dangoo opened #70 "CSS-only @environments"
An …environment with the following config should just generate a CSS output running `patternplate-console build-bundles`:

[code]

Running this will throw the error:

[code]

Adding an `index.js` in the environment folder acts as a workaround but then the output includes an nearly empty JS file including just the commonJS wrapper:

[code]

[2016-05-25 14:29] LKuechler opened #71 "Node v6.2.0"
When using the current stable node version no pattern can be viewed.
Opening a pattern throws this error:

Edit:
This could be the change that breaks patternplate https://github.com/nodejs/node/pull/5348

[2016-05-25 14:50] marionebl commented on #71
Possibly related to https://github.com/defunctzombie/node-browser-resolve/pull/80 as browser-resolve is what is used in browserify after all. Anyway, the passed object appears to be an entire `pattern` object. That is clearly a bug.

[2016-05-26 10:27] marionebl opened #72 "[transform-react]: implicit dependencies produce duplicate import"
Implicit dependencies produce duplicate import statements, throwing `TypeError`s, e.g.:

[code]

[2016-05-30 16:06] marionebl commented on #72
https://github.com/sinnerschrader/patternplate-transform-react/releases/tag/v0.4.3

[2016-05-30 16:06] #72 closed

[2016-05-30 17:32] #71 closed

[2016-06-09 10:13] marionebl opened #73 "patternplate-transform-* packages fail to load with npm@2"
`patternplate-transform-*` packages fail to load with npm@2. This essentially is a breaking change and conflicts with the officially supported lowest [npm version](https://github.com/sinnerschrader/patternplate/blob/master/package.json#L88). Fix `patternplate-transform-*` resolving for `npm@2`

[2016-06-10 13:55] #73 closed

[2016-06-13 17:21] nottobe opened #74 "import none default exports"
When i have a dependency in my patternplate project package.json and i'm referencing a named export from my dependency in some of my pattern
`import list from 'other-package/list';`

This results into 2 dependencies in the package.json file in the distribution folder after commonjs build
`{
  "dependencies": {
    "other-package/list": "*",
    "other-package": "0.0.1"
  }
}`

[2016-06-13 17:21] marionebl commented on #74
Thanks for reporting, I'll have a look into this.

[2016-06-22 09:43] MartinHelmut opened #75 "Cannot read property 'selfClosing' of undefined"
Hey, the following Problem occurred during a build after a clean install:

[code]

related to "patternplate-console".

This is an example of the JSX code line used to reproduce the error:

[code]

Seems like there was an update for `babel-generator` / `babel-types`, a patch version from `6.10.1` to `6.10.2`. Maybe the following change is related: https://github.com/babel/babel/commit/d7c0fbdf5b6c4

[2016-06-22 16:32] marionebl commented on #75
Thanks for reporting, I'll investigate.

[2016-06-24 09:48] marionebl commented on #75
@MartinHelmut  Can you still repdroduce this?

[2016-06-24 09:56] MartinHelmut commented on #75
Unfortunately yes, the same error, nothing changes. My command for the test in a pp project:

[code]

And then a build, fails again.

[2016-06-24 12:13] marionebl commented on #75
According to my tests this happens with npm@3 only, pointing at some incompatibility issue with babel-generator.

[2016-06-24 15:48] marionebl commented on #75
Ok... This is seriously weird.

node@4, npm@2 works before and after changes
node@5, npm@3 doesn't work before/after changes
node@6, npm@3 works after changes

[2016-06-28 16:50] marionebl commented on #75
Seems to be connected with babel-template, investigating further.

[2016-07-01 21:59] marionebl commented on #75
Fixed at at last. cc @Dangoo

[2016-07-01 21:59] #75 closed

[2016-07-01 23:09] marionebl commented on #74
This requires changes to the following transforms:

* [x] [react](https://github.com/sinnerschrader/patternplate-transform-react)
* [ ] [resolve-imports](https://github.com/sinnerschrader/patternplate-transform-resolve-imports)
* [ ] [resolve-includes](https://github.com/sinnerschrader/patternplate-transform-resolve-includes)

[2016-07-02 12:46] marionebl commented on #74
Turns out the specialized resolve transforms already used the first path fragment of require ids only. This should behave as expected now.

[2016-07-02 12:46] #74 closed

[2016-07-08 10:00] Dangoo opened #76 "Pure components: React required?"
When writing a stateless (or pure) component like this:

[code]

returns the following error message:

[code]

Importing React solves the problem, but why is it necessary here even though there is no React functionality here?

[code]

[2016-07-08 10:38] marionebl commented on #76
`jsx` is desugared to `React.createElement` CallExpressions by `babel`, which `patternplate-transform-react` uses.

When the transformed code hits `patternplate-transform-react-to-markup` your examples roughly look like this:

[code]

Which clearly lacks a binding for `React`.

---
See [babel-console](https://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-1&experimen

[2016-07-08 10:38] #76 closed

[2016-07-12 09:36] Dangoo opened #77 "react-to-markup script execution times out"
While running `build-bundles`on Windows machines we experience a script execution timeout error:

[code]

Solution could be to increment the timeout time frame or set it to infinite.
* Patternplate: v0.17.0
* React-To-Markup: v0.3.4

[2016-07-12 09:42] marionebl commented on #77
I'll go with removal of the timeout option altogether. This will leave the user with the hazard to create infinite loops. We talk about developers here – they should be used to kill infinite loops via `C-c` anyway.

[2016-07-12 09:53] #27 closed

[2016-07-12 10:10] marionebl commented on #77
Solved with https://github.com/sinnerschrader/patternplate-transform-react-to-markup/releases/tag/v0.3.5

[2016-07-12 10:10] #77 closed

[2016-07-14 21:30] #5 closed

[2016-07-14 21:30] #15 closed

[2016-07-14 21:30] #18 closed

[2016-07-14 21:30] #19 closed

[2016-07-14 21:30] #20 closed

[2016-07-14 21:30] #24 closed

[2016-07-14 21:30] #28 closed

[2016-07-14 21:30] #33 closed

[2016-07-14 21:30] #35 closed

[2016-07-14 21:30] #36 closed

[2016-07-14 21:30] #37 closed

[2016-07-14 21:30] #38 closed

[2016-07-14 21:30] #40 closed

[2016-07-14 21:30] #41 closed

[2016-07-14 21:30] #44 closed

[2016-07-14 21:30] #55 closed

[2016-07-14 21:30] #58 closed

[2016-07-14 21:30] #60 closed

[2016-07-14 21:30] #61 closed

[2016-07-14 21:30] #62 closed

[2016-07-14 21:30] #66 closed

[2016-07-14 21:41] marionebl opened #78 "Provide basic documentation already"
Provide proper documentation for patternplate. This should include:
- [x] Quick Start (Installation, Scaffolding, First start)
- [ ] Create basic overview page via gh-pages
  - [ ] Logo
  - [ ] Button
  - [ ] Headline (h1 - h3)
  - [ ] Image
  - [ ] Paragraph
  - [ ] Link
  - [ ] Text-Teaser
  - [ ] Imprint
- [ ] Pattern driven development; pattern.json, dependencies, formats
- [x] Default project

[2016-07-14 21:43] marionebl opened #79 "Remove default transforms and configuration"
Remove all magic defaults from patternplate and move them to patternplate-preset-legacy-defaults. This prepares the platform for removal of boilerplate-server and the advent of eslint-style  presets.

- [x] move all default configuration to `patternplate-preset-legacy`
- [x] move all default transforms to `patternplate-preset-legacy`
- [ ] provide a `patternplate migrate` command that helps with m

[2016-07-14 21:44] marionebl commented on #64
This is a client issue, could you have a look at it @Dangoo?

[2016-07-25 09:56] marionebl opened #80 "emfile issues with patternplate-console build-bundles"
`patternplate-console build-bundles` runs into emfile errors when bundling medium to large projects.

[2016-07-25 15:13] marionebl commented on #80
Fixed via https://github.com/sinnerschrader/patternplate-server/releases/tag/v0.17.4

[2016-07-25 15:13] #80 closed

[2016-07-28 19:33] marionebl commented on #78
The three-step init process now really is 👌 - we should cater it in the future, even after the removal of default configuration and trasforms as planned in https://github.com/sinnerschrader/patternplate/issues/79.

[2016-08-10 19:03] marionebl opened #81 "Release train 1.0"
# Breaking changes
* Defaults for `.transforms`, `.patterns` moved to [patternplate-legacy-defaults](https://github.com/sinnerschrader/patternplate-legacy-defaults)
* Default bundled `patternplate-transform-*` packages moved to  [patternplate-legacy-defaults](https://github.com/sinnerschrader/patternplate-legacy-defaults)
* **transform-browserify**: Dropped babelify, envify, uglifyify, unreachable

[2016-09-09 18:25] marionebl opened #82 "New icons"
For new features and changed semantics inbound with release `v1.0.0` new icons are needed:
- [x] "Source Code" for use in the collapsed bottom pattern toolbar
- [x] "Rulers" as action icon to toggle media-query display
- [x] "Keyboard key" as action icon to bring up the shortcut lightbox
- [x] "Issue" as action icon to bring up the issue lightbox
- [ ] "Exit" as inline icon for external links rend

[2016-09-10 06:34] #64 closed

[2016-09-10 07:07] marionebl opened #83 "[transform-less]: prevent pattern dependency bleeding"
**Actual**
When specifying a dependency with transitive dependencies the transitive dependencies are made available in the upper scope. The given examples make `a` available to `c` although it is not explicitly included as dependency in `c`'s manifest.

[code]

[code]

**Expected**
For the sake of consistency a check should be implemented that causes the dependency resolving to fail if a pattern i

[2016-09-10 09:22] Dangoo commented on #82
What do you mean by "contructing via JS"? 😁

[2016-09-10 15:41] Dangoo opened #84 "Make layer content scrollable"
If the height of the content of a layer (e.g. keyboard shortcuts, issues) is bigger than the viewport height the content overflows the layer, pushes the close button so the layer can not be closed anymore.

Solution:

- [ ] Move `button-row` one level higher as child of `lightbox__container`
- [ ] Make `lightbox__children` scrollable

[2016-09-10 16:00] Dangoo commented on #82
@marionebl
Wich icon style would you prefer for media queries:

#1 From PP-Icon set
![viewports-pp](https://cloud.githubusercontent.com/assets/1252204/18411794/7b076052-777f-11e6-820a-1d6ff4097824.png)

#2 From Google Design "flip"
![flip-google](https://cloud.githubusercontent.com/assets/1252204/18411827/5ea0a468-7780-11e6-9601-b2144a50ae15.png)

#3 From Google Design "Aspect Ratio"
![aspect-rati

[2016-09-11 16:01] #84 closed

[2016-09-17 09:59] #79 closed

[2016-09-19 08:41] escapedcat opened #86 "0.15.16 - react-to-markup automount does not work after deploy"
Locally JavaScript is being loaded and executed when using this option:
[code]

After a deploy (actually not sure how this is different from the local build) teh JavaScript doesn't work anymore. I get:
[code]

Let me know if you need further details.

[2016-09-21 17:29] marionebl commented on #86
Thanks for reporting! I checked back with the project in question and verified this is fixed for patternplate@0.18. The earliest patternplate-server version containing the fixes in question is [0.16.4](https://github.com/sinnerschrader/patternplate-server/releases/tag/v0.16.4). I'd recommend to update to 0.18, so I opened a PR on the project 🚀.

Feel free to reopen if the problem persists.

## Rel

[2016-09-21 17:29] #86 closed

[2016-09-21 18:21] marionebl commented on #69
Dropping as IE8 definitely is off the support table as of v1.0

[2016-09-21 18:21] #69 closed

[2016-09-21 20:45] #81 closed

[2016-09-24 12:11] marionebl opened #88 "[client]: webfont missing"

[2016-09-24 12:13] marionebl opened #89 "[server]: patterns without sources should not fail"
[code]

should be valid pattern on its own. Currently one has to add at least an empty `demo.jsx` file:

[code]

[2016-09-26 09:46] marionebl opened #91 "[transform-react]: should work without babel"
[code]

should work.

[2016-09-26 09:48] marionebl opened #92 "[transform-less]: should work without plugins key"
[code]

currently fails, the less tranforms assumes the presence of a `.plugins` key

[2016-09-26 13:23] marionebl commented on #92
https://github.com/sinnerschrader/patternplate-transform-less/commit/8e735bb

[2016-09-26 13:23] #92 closed

[2016-09-26 13:38] marionebl commented on #89
https://github.com/sinnerschrader/patternplate-client/commit/f02c08bb3f55cbdab6300f42d09423b1f8f9b9bc

[2016-09-26 13:38] #89 closed

[2016-09-27 19:02] #91 closed

[2016-09-27 20:13] #88 closed

[2016-09-27 21:54] Dangoo opened #93 "[client]: enable momentum scrolling"
Client lacks momentum scrolling on markdown pages.

[2016-09-29 06:51] marionebl opened #94 "[server-0.17] incremental commonjs build does not update version"
Running `build-commonjs` on a repository with the transition of

[code]

to

[code]

Will result in a `distribution/package.json` file stating a version of `0.1.0`

[2016-09-29 11:22] marionebl commented on #94
https://github.com/sinnerschrader/patternplate-server/releases/tag/v0.17.10

[2016-09-29 11:22] #94 closed

[2016-09-30 23:25] #93 closed

[2016-09-30 23:25] marionebl commented on #93
Solved with https://github.com/sinnerschrader/patternplate-client/releases/tag/v1.0.3

[2016-10-03 08:43] mbonaci opened #95 "Issue with patternplate init"
I just did `npm i --save paternplate` and then `./node_modules/.bin/patternplate init`, as described in the getting started and here's what I get:

[code]

[code]
Thanks for looking into it.

[2016-10-03 08:58] marionebl commented on #95
Thanks for reporting, confirmed this and preparing the fix right now.

[2016-10-03 09:06] marionebl commented on #95
Released: https://github.com/sinnerschrader/patternplate/releases/tag/v1.0.6. Feel free to reopen if the issue persists 🚀

[2016-10-03 10:01] mbonaci commented on #95
That was quick. But (maybe I missed some docs or something)...
[code]
And after installing that I got the same for:
`patternplate-transform-react`, `patternplate-transform-react-mount`, `patternplate-transform-less`, `patternplate-transform-react-to-markup`

Then it finally opened up in Chrome.

[2016-10-03 10:03] marionebl commented on #95
The culprit is this line:

[2016-10-03 10:19] mbonaci commented on #95
Well, now they are, after I `--save`d them.
I don't quite get it, if they are required why are they not in your `package.json`?
Lovely job with the UI, BTW (can't revert to light theme when I switch to dark :)

[2016-10-03 10:25] marionebl commented on #95
What **should** happen is the contents found here:

https://github.com/sinnerschrader/patternplate/blob/master/source/library/init/get-manifest-data.js#L23

being merged into the `package.json` at `$target`.

`patternplate` is in a transition phase, where basic functionality with no or very light transpilation comes out of the box and everything heavy-handed is handled by `patternplate-transform-*

[2016-10-03 11:22] mbonaci commented on #95
I see, `init` should install those.
If I can ask you an off-topic question, have you used scss transform lately?
https://github.com/Jimdo/patternplate-transform-node-sass/issues/3

[2016-10-03 11:42] marionebl commented on #95
I redid the sass transform last week:

https://github.com/marionebl/patternplate-transform-node-sass

This is the transform published to npm - configuring it at
configuration/patternplate-server/transforms.js as "node-sass" does the
trick.

Unfortunately the Readme is wrong - be sure to substitute "sass" with
"node-sass"

Am Montag, 3. Oktober 2016 schrieb Marko Bonaći :

--
Mario Nebl, Technical

[2016-10-03 12:09] mbonaci commented on #95
Lovely, thanks a lot.
SCSS reference for others:
[code]

[2016-10-04 07:08] #95 closed

[2016-10-14 14:35] #83 closed

[2016-10-14 16:19] marionebl opened #97 "Implement patternplate-transform-consolidate"
Currently patternplate is capable to host all thinkable template formats but is limited to JSX support by the fact only `patternplate-transform-react` is implemented. We should tap into the long list of supported template libraries [consolidate](https://github.com/tj/consolidate.js) provides.

**Requirements**
- [ ] Provide means for the user to **import** templates from other patterns. [Reference

[2016-10-14 16:20] marionebl commented on #97
cc @KnisterPeter @LKuechler

[2016-10-17 15:02] marionebl opened #98 "Implement patternplate-transform-react-docgen"
## Rationale

patternplate projects tend to be implemented on a React-based stack. Component definitions therefore often contain valuable information in the form of `React.PropTypes`. We should strive for a solutions where we can derive additional information from component definitions
## Features

Things to implement for first release
- [ ] Generate markdown documentation from JS files
- [ ] Show

[2016-10-17 15:11] marionebl opened #99 "Allow for multiple output formats per pattern"
## Rationale

Currently patternplate does allow only one transform chain per given pattern format, e.g.:

[code]

This currently is a critical limitation of patternplate's transform system and prevents efficient usage of transforms that produce additional or non-critical artifacts, such as: auto-generated documentation, typescript typings, intermediary css-modules etc.
## Features
- [ ] patternpla

[2016-10-17 15:43] marionebl opened #100 "Implement a scaffolding utility for patterns"
## Rationale

When implementing a patternplate project from scratch there is a lot of work for developers involving creating folders, `pattern.json` files, adding pattern dependencies, etc. We should ease this tedious work by providing a scaffolding cli that helps with these tasks.
## Features

Features to implement for version 1.0:
- [ ]  **create** `<id>` - Scaffold a new pattern at `<id>`. Form

[2016-10-17 15:57] marionebl opened #101 "Visualize CSS breakpoints in patternplate demo interface"
Media queries and responsive design remains a big source of misunderstanding between client, creatives and development teams. In order to help with communication about this topic, patternplate should provide means to visualize and document breakpoints for pattern demos.

**Goals**
- [ ] Provide means to extract information about applicable breakpoints from CSS used for the current pattern demo
- [

[2016-10-17 16:06] marionebl opened #102 "Get rid of boilerplate-server, join patternplate projects"
## Rationale

The current separation of patternplate into `patternplate-client` and `patternplate-server` does not serve any real purpose and introduces considerable overhead. Additionally the `boilerplate-server` dependency with its convention over configuration mechanisms introduces complexity and yields less benefits than expected.
## ToDo
- [ ] Remove dependency on `boilerplate-server` from `p

[2016-10-18 10:49] marionebl opened #103 "Improve NotFound handling in patternplate-client"
When navigating to `patternplate-client` routes not available (e.g. pattern ids not available), currently the React application crashes and leaves the user without a hint to get a working client side application state. This is mitigated by the fact that most of `patternplate-client` works without any client side JavaScript, but still suboptimal.

**Goals**
- Help the user to resolve "Not Found" er

[2016-10-18 10:56] marionebl commented on #100
See [binary/patternplate.js#L89](https://github.com/sinnerschrader/patternplate/blob/aaba44e764ba0bb0e8a35630573ebba2abef62c0/source/binary/patternplate.js#L89) regarding a entry points for this.

[2016-10-18 12:00] marionebl opened #104 "Implement patternplate-transform-react-to-typescript-defintions"
patternplate projects tend to be implemented on a React-based stack. Component definitions often contain valuable information in the form of `React.PropTypes`. This allows tooling to derive additional information/artifacts from existing component definitions, e.g. TypeScript definitions: https://github.com/KnisterPeter/react-to-typescript-definitions

## Goals
- [ ] effortless module/pattern typin

[2016-10-22 10:16] marionebl commented on #100
@LKuechler do you need some help on this?

[2016-10-26 08:31] KnisterPeter opened #107 "Development cache does not kick in"
In 0.18 version the development caching does not work.
So on every request of a pattern everything is reprocessed wich is way to slow.

[2016-10-26 09:13] KnisterPeter opened #108 "Search does not contain all expected results"
The search does not return all expected results.
Possible error cause could be:

Add the following patterns: `atoms/Headline` and `print/atoms/Headline`
Then search for `headline`

[2016-10-31 22:48] marionebl opened #109 "patternplate-client throws "Cannot add a pure render decorator to Icon""
### Actual
`patternplate-client` throws an exception during start

### Expected
`patternplate-client` starts without throwing

### Affected versions
|Software | Version |
|---|---|
| **patternplate** | v0.15.16 - v0.18.1 |
| **patternplate-client** |  v0.15.0 - v0.16.2 |

### Details

[code]

<details>
<summary>Full error log</summary>

[code]
</details>

### Steps to reproduce

[code]

## Analysi

[2016-10-31 23:32] marionebl commented on #109
## Published versions

https://github.com/sinnerschrader/patternplate-client/releases/tag/v0.15.4
https://github.com/sinnerschrader/patternplate-client/releases/tag/v0.16.3

Everything `>= 1.0.0` was not affected as the `<Icon />` implementation changed to omit the empty `shouldComponentUpdate` method.

[2016-10-31 23:32] #109 closed

[2016-11-01 19:29] felixgirault commented on #109
Hi,

Sorry for the mess on `pure-render-decorator`...
Just so you know, I just released version 1.2.1, which should fix the problem by replacing errors with warnings ;)

[2016-11-02 08:12] marionebl commented on #109
No worries @felixgirault! Thanks for releasing the patched version, will use that for the next version of patternplate.

[2016-11-04 17:56] cdaringe opened #110 "fails to run on fresh install"
[code]

[2016-11-04 18:17] cdaringe commented on #110
& `patternplate-transform-react`, `patternplate-transform-react-mount`, `patternplate-transform-react-to-markup`

[2016-11-04 18:32] cdaringe opened #111 "patternplate init server configuration does not match that on patternplate-ui"
`init` has different transforms than:

https://github.com/sinnerschrader/patternplate-ui/blob/master/configuration/patternplate-server/patterns.js

i'm betting that -ui's is more up to date, given its babel support

[2016-11-04 18:35] cdaringe opened #112 "feature request: absorb default patternplate configuration"
rather than on `patternplate init` dumping default configurations, perhaps consider dumping _no configuration_.  then, allow people to _add_ configuration behind a flag (e.g. `--config my-config.json`) if desired

[2016-11-04 18:43] marionebl commented on #110
Thanks for reporting! `patternplate init` currently does not perform `npm install` / `yarn isntall`. Can you try and do that before executing `patternplate start` ?

[2016-11-04 19:03] marionebl commented on #111
The `patternplate init` config is intended to get first time users ready to walk through the getting started guide without friction, while `ui` has transforms fit for the task of that particular project. Perhaps we should clarify the purpose of the init default configuration?

[2016-11-04 19:15] marionebl opened #113 "interface should work without js"
**Broken features when `js` is unavailable:**
* Rulers
* Theme switch
* Static interface are mostly absolute, thus not working on subpaths

[2016-11-04 19:30] #110 closed

[2016-11-04 19:33] marionebl commented on #110
Released and published:
https://github.com/sinnerschrader/patternplate/releases/tag/v1.0.7

[code]

[2016-11-05 08:05] marionebl opened #115 "Pass through files if no format is configured"
Currently patternplate ignores any file that has no matching format defined in `configuration/patternplate-server/patterns.js`. Setting up a patternplate project thus requires a user to configure `formats` and `transforms` every single time.

I think we should discuss if defining a set of pass-through formats/extensions that mirror the standardized web formats: `html`, `js` and `css`.

## Example

[2016-11-05 08:09] marionebl commented on #115
cc @KnisterPeter @Dangoo

[2016-11-05 08:50] KnisterPeter commented on #115
What do you mean with `#used`?
I've add `pattern.json` to the files tree.

[2016-11-05 08:54] marionebl commented on #115
@KnisterPeter: I changed `# used` to `# passed through` and added a comment about `pattern.formats` configuration being not there. Hope this makes things clearer.

[2016-11-05 08:58] KnisterPeter commented on #99
I would start with add this optional configuration format:
[code]
The formats could be an error and contain multiple transform chains.
This does not make clear wich is the critical-path, but I think for a start we could asume that the first format transform chain is the most critical.

[2016-11-05 09:05] KnisterPeter opened #116 "Quickstart issue with npm2"
Walking through the quick start guide when node4 (and therefore npm2) is the default in a new terminal will result in problems later on.

I think it would be great to have a shell script which does the first steps.
Maybe like this:
[code]

Inside this script the following steps should be executed:
[code]

[2016-11-05 09:20] marionebl commented on #116
I'd like to keep the source of truth for this in `package.json`.

All `patternplate` cli commands could check if `process.version` and `npm -v` meet the requirements defined in `engines` and throw / warn if they don't. This would affect `patternplate init`, thus telling the user about the mismatch **before** the costly `npm install` in her project.

[2016-11-05 09:23] KnisterPeter commented on #116
The first step `npm install patternplate` will already produce failures for the following steps and you could not check upfront if the user has npm >=3.

[2016-11-05 09:49] KnisterPeter opened #117 "Light-Theme select box entries are not readable"
The entries of the options are not readable in the default theme.

![issue](https://cloud.githubusercontent.com/assets/327445/20029162/70a80372-a345-11e6-85b0-7d2299566caa.png)

[2016-11-05 09:54] KnisterPeter opened #118 "Change keyboard shortcuts to use ctrl+alt as modifier instead of just ctrl"
When running through the getting started guide inside a fresh patternplate instance, highlighting terminal commands and copy them via `ctrl+c` does not do what one would expect.

Currently `ctrl+c` opens the layer to modify the client redux state. The keybinding for this should be changed.

[2016-11-05 09:54] marionebl commented on #116
Ok, obviously needs some testing. I'd aim at working with a plain `npm install` in any case.

[2016-11-05 09:57] marionebl commented on #118
This has not been raised yet because testing is performed on macOS systems. Thinking about the key bindings `ctrl` obviously is not safe to use as modifier key – any suggestion  what we could use instead?

[2016-11-05 10:05] KnisterPeter commented on #116
To be fair: This results in issues if you do not install it globally. Did not try to install it globally with npm2.

[2016-11-05 10:07] KnisterPeter commented on #118
What about `ctrl+shift+c` or `ctrl+alt+c`?

[2016-11-05 10:23] KnisterPeter opened #119 "Binaries are not executable"
The binaries in the git repo are not executable.
Normally this is not a problem since npm makes them executable, but if you use `npm link` or simple symlink yourself and watch the folder to rebuild on changes all binaries are recreated as non-executable on every change. This is quite anoying developer experience!
Any reason to not make them executable in git?

[2016-11-05 10:29] marionebl commented on #119
Go ahead!

[2016-11-05 10:31] marionebl commented on #118
Voting for `ctrl+alt` as general modifier. Any opinions @Dangoo ?

[2016-11-05 10:35] KnisterPeter commented on #118
`ctrl+alt+c`

[2016-11-05 16:23] marionebl commented on #115
**Prototypical changes to patternplate-server**:
https://github.com/sinnerschrader/patternplate-server

**Demo project**:
https://github.com/sinnerschrader/patternplate-getting-started/tree/feat/%23115-demo-passthrough-for-webformats

**Deployed demo**:
https://sinnerschrader.github.io/patternplate-getting-started/demos/passthrough-webformats/

[2016-11-10 08:53] marionebl commented on #115
@KnisterPeter @LKuechler could you have a look at the prototype and give some feedback? More ideas for implementing pattern imports in the passthrough formats are welcome.

[2016-11-10 08:56] marionebl commented on #119
Reopen to remind me to release this.

[2016-11-11 07:33] marionebl opened #121 "patternplate doctor command"
Idea: Have a cli command that

- Checks for broken patternplate configuration (e.g., patterns <> transforms)
- Detects missing `patternplate-transform-*` packages
- Finds deprecated stuff (even in pattern sources?)
- Tells you about all the things in a nicely human-readable format
---

Leaving this here as a stub and reminder to flesh out.

[2016-11-11 20:26] marionebl opened #122 "npm imports are broken in transform-less >= 2"
Throws

[code]

[2016-11-12 15:51] marionebl opened #123 "browserify fails when no opts given"
### Works
[code]

### Fails
[code]

[2016-11-12 18:42] marionebl opened #124 "react-to-markup fails when no default export is present"
### Fails

[code]

[code]

[2016-11-12 18:49] #124 closed

[2016-11-12 18:51] marionebl commented on #124
https://github.com/sinnerschrader/patternplate-transform-react-to-markup/releases/tag/v1.0.2

[2016-11-12 23:49] #123 closed

[2016-11-13 20:11] marionebl commented on #122
https://github.com/sinnerschrader/patternplate-transform-less/releases/tag/v2.0.2

[2016-11-13 20:11] #122 closed

[2016-11-13 20:57] KnisterPeter commented on #115
Something does not work with the button-row pattern

[2016-11-13 21:03] KnisterPeter commented on #115
I don't like the html-import. The other formats could only be used if the pattern dependency resolver learns about uris/urls before.
There is no real good way to allow passthrough with modularization, because html/css/js does not support it on their own.

We should discuss this very seriously. Otherwise this will cost a lot for later versions.

[2016-11-14 18:30] marionebl commented on #115
@KnisterPeter Concerning the html imports i think about emulating / wrapping the behavior you'd expect from browsers natively. This is still pretty rough in my head, but do you get the general idea? Perhaps something like https://github.com/felipeccastro/html-component shows the correct way to go about this.

[2016-11-15 13:36] marionebl commented on #118
Relevant sources to do functional changes:
https://github.com/sinnerschrader/patternplate-client/blob/master/source/assets/script/index.js#L30

Document here
https://github.com/sinnerschrader/patternplate-client/blob/3b74ff6c7ae800ed48f78c16d49a08588d383cd3/source/application/components/content/shortcuts.js#L15

[2016-11-15 13:37] marionebl commented on #118
@Dangoo Do you find time for this / can you delegate further? Thanks!

[2016-11-15 13:37] marionebl commented on #117
@Dangoo Do you find time for this / can you delegate further? Thanks!

[2016-11-16 09:55] marionebl commented on #117
This problem is not visible on macOS. Could you add information about OS and browser @KnisterPeter?

Styling should be adapted here:
https://github.com/sinnerschrader/patternplate-client/tree/master/source/assets/style/components/pattern

[2016-11-16 12:53] KnisterPeter opened #125 "Update pattern.json schema to new version"
Currently the flag attribute for the pattern.json schema consists of 'alpha', 'beta', 'rc' and 'stable'.
There should be a status for end of life of a pattern. A good candidate would be 'deprecated'.

http://json.schemastore.org/pattern

---
* [ ] Add `deprecated` to `flag`
* [ ] Remove `patterns` object

[2016-11-16 12:55] KnisterPeter commented on #119
It does not need to be released. It is mainly for contributor workflow. In any other case npm takes responsibility for making the binaries executable.

[2016-11-16 12:55] #119 closed

[2016-11-16 13:00] KnisterPeter opened #126 "patternlist does not show all tags"
The list of patterns (e.g. some atoms folder) does not display all tags attached to a pattern.

In the case below the tags should be 'reviewed', 'deprecated', 'documentation-needed' and 'demo-needs-update'.

![tags](https://cloud.githubusercontent.com/assets/327445/20348260/d909b682-ac04-11e6-8285-8347d2e1d1f0.png)

[2016-11-16 13:56] Dangoo commented on #118
@marionebl I will have a look into this in about one week.

[2016-11-16 13:57] Dangoo commented on #117
@marionebl I will have a look into this in about one week

[2016-11-16 17:12] KnisterPeter commented on #117
My OS is debian and I'm using chrome.

[2016-11-17 16:50] marionebl opened #127 "transform-resolve-{imports,includes} should assert presence of formatString"

[2016-11-22 13:04] KnisterPeter commented on #117
This is caused by the declaration `color: transparent;` in the rule `.select__native`

[2016-11-22 13:48] KnisterPeter opened #128 "Pattern-List Tags are not clickable anymore"
Pre 1.0 the tags in a pattern-list where clickable and would have filtered the pattern tree.
This still works as expected from the pattern detail header.

[2016-11-22 16:28] KnisterPeter opened #129 "Dependencies of a pattern"
In 1.x you don't see the dependencies of your pattern anymore. Only dependents are shown.
Dependencies are equally important.

This are the entries in the pattern.json:
[code]

This is the relations view:

![relations](https://cloud.githubusercontent.com/assets/327445/20555948/01f04272-b165-11e6-9d4c-a75f71e81807.png)

I would expect the dependencies in the relations view as well.

[2016-11-22 16:44] marionebl commented on #129
@KnisterPeter Could you post an obfuscated screenshot of this?

This **should** work, as seen here: https://sinnerschrader.github.io/patternplate-getting-started/v2.0.0/pattern/molecules/button-row/?source=relations

Perhaps there is a JS issue? Could you have a look at the JS console for the affected pattern?

[2016-11-22 16:44] marionebl commented on #128
Confirmed.

[2016-11-23 15:00] marionebl commented on #129
This is very likely a regression introduced by https://github.com/sinnerschrader/patternplate-client/commit/1202f62a037a7a2473471d72fac17eadab78f27f

[2016-11-28 13:36] MartinHelmut opened #130 "Can't switch theme when pattern is selected"
**PatternPlate Version:** 1.0.10
**Tested in:** Chrome 54, Firefox 49, Safari 10

The theme switch is only possible on navigation root level, e.g. requesting the dark theme style: `http://localhost:1337/style/dark.css`.

After selecting an pattern (e.g. `http://localhost:1337/pattern/my-cool-pattern/`) and activating the theme switch, the wrong resource is requested: `http://localhost:1337/pattern

[2016-11-28 17:54] marionebl commented on #130
Thanks for reporting! Confirmed using the static build of [patternplate-getting-started](https://github.com/sinnerschrader/patternplate-getting-started):

**Works**: [light](https://sinnerschrader.github.io/patternplate-getting-started/v2.0.0/?theme=light) | [dark](https://sinnerschrader.github.io/patternplate-getting-started/v2.0.0/?theme=dark)
**Fails**: [light](https://sinnerschrader.github.io/

[2016-11-28 18:33] MartinHelmut commented on #130
Looks like a good bug to contribute to for me :D I will add a PR for this tomorrow.

[2016-11-30 17:32] marionebl opened #131 "Faulty rendering of opacity indicator background on FF"
Browser: Firefox
OS: Windows

![screenshot](https://cloud.githubusercontent.com/assets/4248851/20763662/4cac6d60-b72b-11e6-84c6-15b5bd75e2bf.png)

[2016-11-30 18:28] marionebl commented on #129
@KnisterPeter Any chance you could pick this one up?

[2016-11-30 18:31] marionebl opened #132 "urls produced by client cause cryptic 404s on Windows after reload"
Given a patternplate instance is executed on Windows, after navigating via UI to a given pattern and reloading the browser afterwards, a stacktrace is shown.

- [x] Provide a userfriendly 404 functionality to get them on track again
- [x] Match paths correctly

[2016-11-30 20:24] KnisterPeter commented on #129
Not sure. I'll see if I will find some time.

[2016-12-07 06:56] KnisterPeter opened #133 "Feature request: build in snapshot testing for patterns"
With the latest [Jest update](http://facebook.github.io/jest/blog/2016/10/03/jest-16.html) it is possible to integrate jest/react snapshot testing in other tools like described [here](https://voice.kadira.io/snapshot-testing-in-react-storybook-43b3b71cec4f#.3oqszx44o).

It would be awesome to have testing for patterns as well.

[2016-12-12 13:29] dipe opened #134 "Reloading folder views yields 403 pages on nginx"
**Actual**

When reloading a folder view via `ctrl+r` a 403 page is shown

**Expected**

The same folder view is produced

[2016-12-12 13:34] KnisterPeter commented on #134
@marionebl could you confirm this behaviour?

[2016-12-12 14:17] marionebl commented on #134
Confirmed for patternplate 1.0 and up

[2016-12-13 01:33] marionebl commented on #134
related to #132

[2016-12-13 05:56] #132 closed

[2016-12-13 06:41] #134 closed

[2016-12-13 09:16] marionebl commented on #134
@dipe Upgrading to patternplate 1.1.1 should fix the issue

[2016-12-14 07:29] marionebl commented on #129
Fixed: https://github.com/sinnerschrader/patternplate-server/commit/3f4e194950c76c87db903c47d10c1b2b78cfed84
Released: https://github.com/sinnerschrader/patternplate-server/releases/tag/v1.0.16

[2016-12-14 07:29] #129 closed

[2016-12-20 18:09] SaraVieira opened #135 "Error on importing less"
Hello there !

When I try to run patternplate and use resolve-includes to resolve includes in my less files before turning them into CSS I get : Error unknown file: Cannot read property 'patterns' of undefined.

This is my buttons/pattern.json

[code]

[2016-12-20 18:16] KnisterPeter commented on #135
Can you please add a few more information here?
It would be great to see `config/variables` and your `patternplate-transform-less` configuration.

[2016-12-20 18:21] SaraVieira commented on #135
Sure @KnisterPeter

This is my file structure, I'm trying to get the variables from a file outside of the patterns folder. This is my folder structure:
├── less
└── config
└─── variables.less
├── patterns
└── buttons
└─── pattern.json
└─── index.html
└─── index.less

This is my config:

[code]

Is this even possible ?
Anything else just ask

[2016-12-20 18:26] KnisterPeter commented on #135
I'm not sure if it is possible. It would be better to create a pattern named `vars` and place your variables in that pattern. This pattern could then be declared as dependency to every requiring pattern.

@marionebl what do you think?

[2016-12-20 18:33] KnisterPeter opened #136 "Improve documentation and examples for patternplate-transform-resolve-includes"
The examples and documentation in the readme of [patternplate-transform-resolve-includes](https://github.com/sinnerschrader/patternplate-transform-resolve-includes) are not easily understandable.

A minimum requirement would be to explain how the resolution works.

[2016-12-20 18:34] KnisterPeter commented on #135
Opened followup issue to improve documentation #136

[2016-12-20 18:49] SaraVieira commented on #135
Even when  try that approach and create a new pattern for the configs I get the same error: Error unknown file: Cannot read property 'patterns' of undefined

[2016-12-20 19:16] SaraVieira commented on #135
Yes , If I do it like that it works fine , I'll redesign the folder structure.
Is there anyway to have a pattern that does not appear on the menu ?

I'll have a look at the documentation

[2016-12-20 19:19] KnisterPeter commented on #135
You could add the following to the `pattern.json` of that pattern:

[code]

[2016-12-20 19:33] SaraVieira commented on #135
That works great ! Thanks :)

[2016-12-20 19:33] #135 closed

[2016-12-20 22:41] KnisterPeter commented on #135
Your welcome

[2017-01-27 18:24] SaraVieira opened #137 "Change port"
I'm trying to add patternplate in a build and I wanted it to run in :8080, is it possible to change the port it runs ?

[2017-01-28 12:56] KnisterPeter commented on #137
Just create a `configuration/server.js` and override [these](https://github.com/sinnerschrader/patternplate-server/blob/master/source/configuration/server.js) settings in there.

[2017-01-28 21:34] SaraVieira commented on #137
I managed to do that with the CLI as well, now I wanted to publish this in a QA environment and it needs to listen on '/ui' instead of '/', is this also possible ?

Thank you

[2017-01-28 21:46] KnisterPeter commented on #137
I think this is currently not possible. You could do so by using a reverse-proxy (e.g. apache, nginx or some custom node-server) in front of the QA environment.

[2017-01-28 21:56] SaraVieira commented on #137
I can't touch the server configuration :/

Do you know any other way to do this ?

[2017-01-29 08:35] KnisterPeter commented on #137
Sorry no, I think there is no other way around it.
You may be able to write a node programm and start patternplate from that. If you create your own express server in there and delegate the requests to patternplate then you have your own reverse-proxy. But it sounds very much like overkill.

Sorry.

[2017-01-29 18:05] SaraVieira commented on #137
I even tried to fork patternplate server and changed the routes.js but that didn't seem to work.  So I'll have to follow that ideia and create a simple  node server

Thanks

[2017-01-30 19:38] SaraVieira commented on #137
So I forked the patternplate-client and I am almost there , all the files are served in '/ui' the only thing that is not working is what is served from the api , the source code and the json basically. DO you know any way around this ?

[2017-01-31 02:57] KnisterPeter commented on #137
You need to fork the server as well for that.

[2017-01-31 10:00] SaraVieira commented on #137
And do you know where I need to make the changes in the server?

[2017-01-31 12:42] KnisterPeter commented on #137
Sorry, not just a single clue to give. I'm not that deep into it and I'm not sure about side effects.

[2017-01-31 13:18] SaraVieira commented on #137
No problem,  thank you for your help so far.

@sinnerschrader do you think you could help me with this?

[2017-02-01 12:00] KnisterPeter commented on #137
Hej @SaraVieira, @marionebl is on vacation right now. Sorry for that.

[2017-02-03 14:01] SaraVieira commented on #137
hey @KnisterPeter np :)

I was able to change that but when I deploy I get a piping error :(

[2017-02-03 14:01] SaraVieira commented on #137
Locally it works great

[2017-02-03 14:22] KnisterPeter commented on #137
@SaraVieira what do you mean by piping error? Do you have a stack trace? Or something I can help with?

[2017-02-03 15:11] SaraVieira commented on #137
![screen shot 2017-02-03 at 15 12 37](https://cloud.githubusercontent.com/assets/1051509/22596317/f6e88028-ea22-11e6-9c6f-1fa91b855be3.png)

If this is not sufficient I can ask server permission

[2017-02-03 15:34] KnisterPeter commented on #137
There should be a relevant server side error. The clients says 500 which normaly means it is a server error.

[2017-02-03 15:45] SaraVieira commented on #137
I know it's a server error , I need to wait for someone who can get inside the machine and I will try to get the server log and I will get back to you on monday

Thank you

[2017-02-07 00:10] SaraVieira commented on #137
It was a splitter problem in our side.
Thank you so much @KnisterPeter  for your help its working great on the QA server now 👍

[2017-02-07 00:10] #137 closed

[2017-02-07 06:21] KnisterPeter commented on #137
I'm glad. Your welcome :smile:

[2017-02-07 06:23] KnisterPeter commented on #137
If you like to you can publish your changes for a pull request.
I say we need to make it configurable to include it in patternplate, but we (or you) could do so.

[2017-02-07 12:00] SaraVieira commented on #137
@KnisterPeter when I have the time I will configure the changes better because right now they are hard coded and I will create a pull request so that people can configure the path in the CLI

Is there any way I can load a static svg file ?
I'm trying to load an svg sprite

[2017-02-07 12:34] KnisterPeter commented on #137
I don't think so. You need to host it somewhere. There is no static file server in patternplate and it would probably out of scope.

[2017-02-07 18:58] SaraVieira commented on #137
I'm just asking because sometimes you do need something like an image in a pattern library

[2017-02-08 06:10] KnisterPeter commented on #137
You could use a placeholder service like this https://image.sinnerschrader.io/Your+Image/aaa/844/800x600/image.png or some kittens. :smile:

[2017-02-08 11:49] SaraVieira commented on #137
Kittens are never a bad idea and something that I will always approve of 😄

The problem is i'm trying to load an svg sprite that is dynamically created , so i'm going to try to make some tweaks to the server to see if I can make it serve a static folder with images or something. Would this be something you guys would like included ? Should I later create a pull request for this when done ?

[2017-02-08 12:15] Dangoo commented on #137
@KnisterPeter once we had a `/static` folder on the same level as for the `/patterns` which became available via `<domain.io>/api/static`. Is this outdated by now?

@SaraVieira What exactly do you mean by "dynamically created"? A taskrunner building and deploying the sprite to a specific folder oder created from patterns of the patternplate?

[2017-02-08 13:04] KnisterPeter commented on #137
@Dangoo I didn't know this. Maybe it will work.

@SaraVieira I would not think that static files should be included in your pull requests. At least split the two features into two requests.

[2017-02-08 14:06] SaraVieira commented on #137
I dont mean include the static files in the pull request but instead create
a pull requests that changes the server in order to also serve am assets
folder for the pattern if needed

On Wed, 8 Feb 2017, 13:04 Markus Wolf, <notifications@github.com> wrote:

[2017-02-08 14:07] KnisterPeter commented on #137
Currently I'm not sure if we need this feature. And maybe it is already implemented. See the comment above from @Dangoo

[2017-02-09 00:24] SaraVieira commented on #137
@Dangoo @KnisterPeter It was already implemented in the static folder like he said and I did manage to get it working: [http://imgur.com/a/pZpiA](http://imgur.com/a/pZpiA).

Thank you so much for both your help and any help you need here in patternplate just let me know and I would love to help this project

[2017-02-09 07:42] KnisterPeter commented on #137
You're welcome. Glad that we could help you. :rocket:
If you like to, have a look at the current issues. The 'good for beginners' may be a good starting point.

[2017-02-09 07:43] Dangoo opened #138 "Add documentation for static files"
As discovered in #137 the usage of static content like icons or images should be documented in `patternplate/documentation/first-steps.md`.

[2017-02-09 09:41] Dangoo commented on #78
- [x] Add description for static resources #138

[2017-02-09 12:36] #138 closed

[2017-02-17 09:25] Dangoo commented on #117
Now reproduceable on FF maxOS too.

<img width="101" alt="bildschirmfoto 2017-02-17 um 10 24 28" src="https://cloud.githubusercontent.com/assets/1252204/23059823/53c91cca-f4fb-11e6-9862-fbef3e1a0fcb.png">

[2017-02-18 14:46] #117 closed

[2017-02-18 14:46] #118 closed

[2017-02-21 13:27] Dangoo opened #140 "Feature Request: Preserving structure for search results"
Proposal for preserving for preserving the navigation structure for search results.

*Current state:*
Typing into search field shows results sorted alphabetically

*Proposed behaviour:*
Typing into search field shows results grouped/marked in their folders. The folders may preserve their order according to configuration and the patterns inside become ordered alphabetically.
The style of the Folder

[2017-02-23 10:43] Dangoo opened #141 "Feature Request: Theming for PP-Client"
Some users may want to theme the patternplate as part of their brand guide. Therefore we could provide a way to make the patternplate colors configurable.

In short: Everything that currently is "blueish" could be any color.

These colors could be configured in patternplate-client config.

[2017-02-23 11:35] Dangoo opened #142 "Feature Request: Modular build tasks"
At a certain level the build-task `build-bundles` becomes pretty slow. Sometimes after doing some adjustments on only one type of files (e.g. styles) it might get handy to build just those files.

So we may consider to split the tasks `build-bundles` into modular pieces…
* `build-bundles:css`
* `build-bundles:js`
* `build-bundles:<format>`

…and then combining them into `build-bundles` on the one

[2017-02-23 14:01] SaraVieira commented on #141
I was in this situation, I wanted to add some of the company's branding but it was impossible without forking the client.
The main points that I think should be changeable would be the logo, the name that shows up beside the logo and the main colors, mainly the blue and dark gray.

Maybe adding a custom-ui.less would be too much since the user could then change anything and patternplate would loos

[2017-02-23 14:48] Dangoo commented on #141
Hey @SaraVieira ,

thanks for your input! This is what I thought too, but maybe just the highlight colors should be configurable like this:

configuration/patternplate-client/ui.js
[code]

To let a user manipulate the background colors would require to make colors for borders, shadows etc. configurable too.

[2017-02-23 14:52] SaraVieira commented on #141
That is true too, It would be a lot of work that most people wouldn't need, and grey goes with everything :)

I completely agree with your idea @Dangoo , if you later need help implementing this I would love to help 👍

[2017-03-01 09:21] marionebl commented on #142
I am all in for the idea the give users some degree of control over the work done by all the build tasks. I favor the approach using parameters instead of new gulp-style subtasks:

As far as i recall most of the infrastructure, e.g. passing a [minimist](https://github.com/substack/minimist) flags/params object into the build tasks should already in place.

I'd like to keep the recognized options a

[2017-03-01 09:33] marionebl commented on #141
I am a bit concerned with the amount of effort this needs - basically the current styling system has to be replaced entirely.

Options to do this that come to my mind:

1. Compiling `less` to `css` on request, feed some options object into less to replace given vars
2. Switch to css via js approach, e.g. [styled-components](https://github.com/styled-components/styled-components)

Currently I favor

[2017-03-01 09:38] marionebl commented on #141
@Dangoo I think a lot of CI guidelines impose very specific rules on colors usage, often banning/regulating the usage of desaturation/opacity/shades explicitly. Not entirely sure on this but I feel we'd have to change the current opacity/shades system to a more explicit one that allows the user to control each of the current highlight color variations separately.

[2017-03-01 09:53] marionebl commented on #141
@SaraVieira Changing the title and logo is already possible (lacking documentation though, sorry for that):

1. **Changing the title (compare [patternplate-ui](https://github.com/sinnerschrader/patternplate-ui/blob/master/configuration/patternplate-client/ui.js))**

[code]

2. **Changing the logo**
[code]

[2017-03-01 09:55] marionebl commented on #140
@Dangoo Could you expand on what we'd achieve with changing the current behaviour? E.g. what are the UX problems we have now and how are they solved with this?

[2017-03-01 09:55] SaraVieira commented on #141
Oh ! Awesome then , I'll try that this afternoon 👍

Those are the only two options in ui.js right ?

[2017-03-01 09:59] marionebl opened #143 "Document ui configuration"
The ui configuration is rather sophisticated and bound to get more complex via e.g.: https://github.com/sinnerschrader/patternplate/issues/141.

As a component library IDE intended to also be used by customers and non-techs patternplate has to allow easy control over the actual appearance of the chrome. We should document available options and their limitations to make it easier for

1. Developers

[2017-03-01 10:04] marionebl commented on #141
@SaraVieira There are a bunch of others, see #143 for more info on this.

[2017-03-01 10:07] SaraVieira commented on #143
If you let me know what is possible in the ui.js I can do this documentation 😄

[2017-03-01 10:09] marionebl commented on #143
**Defaults**: [source/configuration/ui.js](https://github.com/sinnerschrader/patternplate-client/blob/3b74ff6c7ae800ed48f78c16d49a08588d383cd3/source/configuration/ui.js)

[code]

[2017-03-01 10:11] SaraVieira commented on #143
So it's that and the other two you told me in issue ?

[2017-03-01 15:20] Dangoo commented on #141
Giving users the ability to theme the UI is a nice thing but comes with a very high price on the development side compared to the gain of it. Additionally it is not a core feature of any kind so we should not invest too much effort in this. So I'd start with the **color variations based on one (brand) color**. In the future one could think about complete custom styles…  🤔

Another constraint we ha

[2017-03-01 16:37] marionebl commented on #143
@SaraVieira I'll have a look into this tomorrow - thanks for your patience!

[2017-03-01 16:58] marionebl commented on #141
I beg to differ - most projects catering strict CI guidelines would benefit from this. There is a notable cost for any web-interface that is not compliant with the relevant rules, most likely paid in customers/teams not using the interface as way to spread knowledge in their org.

Totally okay with prototyping this via the highlight color only. To be clear: I do not intend a full costum styling AP

[2017-03-01 19:47] SaraVieira commented on #143
@marionebl No problem :)

[2017-03-01 19:48] SaraVieira commented on #141
@marionebl The logo and title worked like a charm. Thanks

[2017-03-01 21:15] Dangoo commented on #141
So I resume:

## Tasks
- [ ] Make highlight colors and their subsets configurable in LESS
- [ ] Add async build-task for CSS on patternplate start (Hash from config as identifier)
- [ ] Integrate async loading of CSS

## Open Questions
* How many steps should we provide for each color? (Proposal: 3)
Currently we're using three color steps:
  * **Main color**
    * clickable / links
    * active it

[2017-03-08 09:58] orivaa opened #144 "Favicon missing in patternplate 1.3.0"
There's no favicon showing, either running patternplate locally or on our server.

A coworker looked into this and found that in the older patternplate versions (0.17.x) the header looked like this.

[code]

Now the header looks like this
[code]

[code]
Thanks in advance for looking into it (:

[2017-03-29 20:42] Dangoo opened #145 "Proposal: Transit map style dependency tree"
@marionebl had the idea to give the dependency tree view an update and move the style more towards urban transit maps.

So I researched some famous transit maps and found a very elegant timeless design and its [specification from the London underground](https://tfl.gov.uk/cdn/static/cms/documents/tfl-line-diagram-standard.pdf).

The process requires some concept work on how dependencies become lin

[2017-05-08 17:57] 2075 commented on #142
so it is short-term feasible or not? :)

[2017-05-09 08:15] marionebl commented on #142
@2075 Nobody is actively working on this. The source for `build-bundles` is located at [application/tasks/build-bundles/index.js](https://github.com/sinnerschrader/patternplate-server/blob/master/source/application/tasks/build-bundles/index.js#L22). Interested in giving this a shot?

[2017-05-23 12:00] leonidax opened #147 "Custom pattern path"
Right now patternplate forces me to have patterns subdirectory as my root directory but I'm trying to use patternplate with an already existing project where changing the structure would be hard, maybe I missed something an there is a way to indicate to patternplate to use other directory as root directory.

[2017-05-23 12:37] leonidax commented on #104
What if I'm working with Typescript and tsx instead of jsx is there a way that I can make patternplate detect my tsx like in https://github.com/styleguidist/react-styleguidist?

[2017-05-23 12:40] KnisterPeter commented on #104
[patternplate-transform-typescript](https://github.com/KnisterPeter/patternplate-transform-typescript) should do the trick for you

[2017-05-23 13:15] leonidax commented on #104
I'm a bit confused on how I should integrate patternplate with typescript... I have my react components in tsx files and all my project is coded with typescript and we use webpack... I've been using styleguidist where I can use our webpack configuration.

[2017-05-23 13:17] KnisterPeter commented on #104
As of now patternplate does the build and the patterns could be exported as commonjs package (npm package).
Right now there is no way to build the patterns with webpack.

CC @marionebl

[2017-05-23 14:57] marionebl commented on #147
Hey @leonidax - the `patterns` directory is not configurable at the moment, sorry.

[2017-05-24 07:59] leonidax commented on #147
Hi @marionebl, just as a suggestion, maybe you should not close this kind of issues and label them as a feature request, unless that you really don't want to have this kind of feature at all.

[2017-05-24 08:27] marionebl commented on #147
@leonidax: You are totally right.

[2017-05-24 08:39] marionebl commented on #104
@leonidax patternplate currently is designed as complete development environment including build tasks and overlaps with webpack in this regard. What feature are you seeking in patternplate?

[2017-05-24 13:46] leonidax commented on #104
We were evaluating different solutions, we want a life style document, patternplate and styleguidist were our top options, I think right now styleguidist would fit more our needs.

[2017-07-24 17:58] marionebl opened #148 "Full text search for documentation"
Implement a basic full text search for documentation files, takes cues from docsify.

[2017-07-24 18:00] marionebl opened #149 "Autoupdates for docs"
Documentation renderings should automatically update when the source files changes. Implement via EventSource.

[2017-07-27 18:01] markusoelhafen opened #150 "Documentation navigation"
Implement a link to the next/previous markdown file at the bottom of the page.
If possible with the title of the next file displayed.

Example image:
<img width="870" alt="screen shot 2017-07-27 at 19 54 56" src="https://user-images.githubusercontent.com/10544994/28684831-16fb7566-7306-11e7-8cc7-253712ce35d3.png">

The next/previous Links should step through the order of the markdown files in a gi

[2017-10-07 15:38] MartinJohns opened #151 "'no such file or directory' error when creating a new patternplate project"
I wanted to try out Patternplate by creating a new project. Creating a new project fails with the error "no such file or directory".

Node version: 8.6.0
NPM version: 5.3.0
Patternplate version: 1.7.3

Following the Quick Start from the readme: https://github.com/sinnerschrader/patternplate#quickstart

    C:\Git>npm install -g patternplate
    C:\Users\Martin\AppData\Roaming\npm\patternplate-cons

[2017-10-10 11:55] #151 closed

[2017-10-19 07:30] marionebl commented on #97
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:30] #97 closed

[2017-10-19 07:31] marionebl commented on #98
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:31] #98 closed

[2017-10-19 07:31] marionebl commented on #99
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:31] #99 closed

[2017-10-19 07:33] marionebl commented on #107
Solved in recent 1.0 versions

[2017-10-19 07:33] #107 closed

[2017-10-19 07:34] marionebl commented on #103
Implemented in 1.0 phase

[2017-10-19 07:34] #103 closed

[2017-10-19 07:34] marionebl commented on #82
Obsolete

[2017-10-19 07:34] #82 closed

[2017-10-19 07:35] marionebl commented on #116
Guess this is obsolete by now

[2017-10-19 07:35] #116 closed

[2017-10-19 07:40] marionebl commented on #115
Obsolete as we will remove the transform chain

[2017-10-19 07:40] #115 closed

[2017-10-19 07:40] marionebl commented on #121
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:40] #121 closed

[2017-10-19 07:41] marionebl commented on #142
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:41] #142 closed

[2017-10-19 07:41] marionebl commented on #128
Fixed during the 1.0 releases

[2017-10-19 07:41] #128 closed

[2017-10-19 07:43] marionebl commented on #127
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:43] marionebl commented on #133
Obsolete as patternplate will move towards a dev/design tool without own transform chain.

[2017-10-19 07:43] #133 closed

[2017-12-04 12:38] pixelass opened #155 "Demos don't work in v2.0.0.-4"
## Versions

node: node/8.9.1
npm: 5.5.1
Patternplate: 2.0.0-4

## Issue description

Patternplate seems to have an issue when it is started before the lib has been fully built.
This can be experienced by running the examples. `stmux` will not wait for the initial build.

If this issue is due to the build/watch logic and cannot be changed we should mention it in the Readme.md and adjust the exampl

[2017-12-25 22:24] M-ZubairAhmed commented on #131
can i take this one?

[2018-02-23 08:38] marionebl commented on #155
Please retest with `2.0.0-6`, this should work now.

[2018-02-23 08:38] #155 closed

[2018-02-23 08:38] marionebl commented on #149
Implemented as of `1.7`

[2018-02-23 08:38] #149 closed

[2018-02-23 08:39] marionebl commented on #70
build systems / environment will not be part of patternplate `2.0` and up.

[2018-02-23 08:39] #70 closed

[2018-02-23 08:40] marionebl commented on #102
This will be implemented via `2.0`

[2018-02-23 08:40] #102 closed

[2018-02-23 08:41] marionebl commented on #112
Implemented via `2.0`

[2018-02-23 08:41] #112 closed

[2018-02-23 08:43] marionebl commented on #113
Low priority, closing for now.

[2018-02-23 08:43] #113 closed

[2018-02-23 08:44] marionebl commented on #130
Theme switching will not make it into `2.0`, closing.

[2018-02-23 08:44] #130 closed

[2018-02-23 08:47] marionebl commented on #140
Search will be performed in the search overlay as of `2.0` and always show a flat list.

[2018-02-23 08:47] #140 closed

[2018-02-23 08:47] marionebl commented on #144
Will be fixed with `v2.0`

[2018-02-23 08:47] #144 closed

[2018-02-23 08:54] marionebl commented on #147
Users will be able to configure the position of pattern sources freely in `2.0.0`

[2018-02-23 08:54] #147 closed

[2018-03-06 19:53] marionebl commented on #148
Implemented via `2.0.0`

[2018-03-06 19:53] #148 closed

[2018-03-06 19:53] marionebl commented on #143
Obsolete via 2.0.0

[2018-03-06 19:53] #143 closed

[2018-03-06 19:54] marionebl commented on #78
Close via `2.0.0`

[2018-03-06 19:54] #78 closed

[2018-03-06 19:54] marionebl commented on #108
Fixed via `2.0.0`

[2018-03-06 19:54] #108 closed

[2018-03-06 19:55] marionebl commented on #111
`patternplate init` was removed for `2.0.0`

[2018-03-06 19:55] #111 closed

[2018-03-06 19:55] marionebl commented on #126
The folder view has been removed for `2.0.0`

[2018-03-06 19:55] #126 closed

[2018-03-06 19:56] marionebl commented on #131
The opacity indicator has been changed for `2.0.0` and works correctly on FF now.

[2018-03-06 19:56] #131 closed

[2018-03-06 19:56] marionebl commented on #136
The entire `patternplate-transform-*` system has been removed.

[2018-03-06 19:56] #136 closed

[2018-03-07 04:51] marionebl opened #160 "Release train 2.0.0"
- [x] Landing page via cover feature
- [x] Change virtual folder UX to be more like OS folders (toggle children without URL change)
- [x] Fix: find first doc for default /, even when in folder
- [x] Guide: Create a new patternplate project
- [x] Guide: Author a new pattern
- [x] Guide: Write documentation
- [x] Reference: Search
- [x] Guide: Divide and conquer with virtual folders
- [x] Guide: Enh

[2018-03-07 04:56] marionebl opened #161 "Ideas for 2.x"
This is a catch-all issue for ideas I had to persist somehow without pursuing them during the 2.0.0 crunch phase

- Search for `*.{css,html}` next to "source" (vs artifact) pattern.json
- Make sidebar and pattern meta data resizable
- Markdown editor
- Pattern tree validation (find duplicated names, disallowed dependency chains)
- lerna example
- Inline editing mode for `<PatternDemo/>`
- Global/l

[2018-03-09 06:09] marionebl commented on #150
Sounds like a good idea - we also could do the arrow-thing like GitBook:

<img width="1133" alt="screen shot 2018-03-09 at 07 07 11" src="https://user-images.githubusercontent.com/4248851/37193069-b9b48546-2368-11e8-8e5e-d71ec60e898d.png">

[2018-03-11 22:59] marionebl commented on #100
Description is obsolete, closing for now.

[2018-03-11 22:59] #100 closed

[2018-03-11 23:00] marionebl commented on #101
Blocked by rulers/resizing currently being not implemented, closing for now.

[2018-03-11 23:00] #101 closed

[2018-03-12 14:16] pixelass opened #163 "styled-components inconsistency"
When using styled-components I see the following error:

[code]

[code]

[code]

[2018-03-12 14:21] pixelass commented on #155
sorry for the late reply... tested and confirmed.

[2018-03-12 14:26] pixelass opened #164 "provide link back to repo"
It seems like patternplate 2 does not provide a link to the remote repository.
I would like to see this as an icon in the sidebar or elsewhere.

[2018-03-12 14:37] pixelass opened #165 "exception when using query in "front-matter""
[code]

[code]

[code]

[code]

[2018-03-12 20:18] marionebl commented on #165
Fixed via `2.0.0-55`

[2018-03-12 20:18] #165 closed

[2018-03-13 10:25] pixelass opened #166 "how to use widgets"
I read the following guide: https://patternplate.github.io/doc/docs/reference/widgets?guides-enabled=true&patterns-enabled=true&reference-enabled=true

I am still not sure how to use this without taking a look at the source code.

I think this could be documented better. Maybe it is possible to add a link (look at the source for this page)

What I'm missing:

* code examples have no filenames (har

[2018-03-13 10:28] pixelass commented on #166
Naming issue `src/code` => `button`

[2018-03-13 10:34] pixelass commented on #166
This should be documented

* id = `pkg.name`
* codeblocks need the ` ```widget ` lang-flag

[2018-03-13 10:47] pixelass opened #167 "tags have no margin"
The tags in the markdown files seem to be missing a natural spacing.

<img width="330" alt="screen shot 2018-03-13 at 11 45 43" src="https://user-images.githubusercontent.com/1148334/37337325-31a74afe-26b4-11e8-843c-5db4c6bfabda.png">

[2018-03-13 11:00] pixelass opened #168 "Data differences for sidebar labels between client and server"
related? #163

Inconsistencies cause issues when trying to use certain features (e.g. sidebar-toggle)

![pp2-issue](https://user-images.githubusercontent.com/1148334/37337862-e0b59022-26b5-11e8-99af-8a4e5de94cb2.gif)

[code]

[2018-03-13 12:42] marionebl commented on #167
Yup, they should have the same spacing between each other as between the tag list and the delimiter border.

I think we could wrap `SearchTrigger` with a `styled-component` here, resulting in a `StyledSearchTrigger` with a `margin-left`.

 Want to lend a hand?

https://github.com/patternplate/patternplate/blob/master/packages/client/src/app/components/pattern/pattern-sheet.js#L45-L47

[2018-03-13 12:44] marionebl commented on #168
I think this is independent of #163, caused by the fallback ids for docs being calculated differently on server and client.

[2018-03-13 12:45] marionebl commented on #166
@pixelass Could you send a PR for the button/code misnomer? Agreed on the docs being a bit lacking.

[2018-03-13 13:13] pixelass commented on #167
sure I can look into it.

[2018-03-13 13:14] pixelass commented on #166
I can prepare a PR to resolve the naming conflict.

[2018-03-13 13:20] pixelass opened #169 "edit docs (via ...) link"
Documentation often provides an "edit on ..." or "improve this ..." link that opens the source on GitHub or similar.

I would like to see something similar.

### Motivation

Readers are more likely to fix typos or contribute to the docs when they see the link.

Example via Less.js: http://lesscss.org/usage/

<img width="883" alt="screen shot 2018-03-13 at 14 19 01" src="https://user-images.githubu

[2018-03-13 13:31] pixelass opened #170 "yarn install fails"
I just tried to install the dependencies for patternplate and got the following error:

[code]

## Complete output

[code]

## Info

* branch Master
* `v2.0.0-55`

[code]

[2018-03-13 13:33] pixelass commented on #170
related? https://github.com/yarnpkg/yarn/issues/660

[2018-03-13 13:44] marionebl commented on #170
Pretty sure this is unrelated to `patternplate`, can't find `npm-yeoman-generator` in its dependency tree.

[2018-03-13 13:49] pixelass commented on #170
Something with yarn... It took me a while but after force clearing the cache it worked.

[2018-03-13 13:49] #170 closed

[2018-03-13 15:39] #166 closed

[2018-03-13 15:40] #167 closed

[2018-03-13 17:25] marionebl commented on #161
by @pixelass

Documentation often provides an "edit on ..." or "improve this ..." link that opens the source on GitHub or similar.

I would like to see something similar.

### Motivation

Readers are more likely to fix typos or contribute to the docs when they see the link.

Example via Less.js: http://lesscss.org/usage/

<img width="883" alt="screen shot 2018-03-13 at 14 19 01" src="https://user-

[2018-03-13 17:25] marionebl commented on #169
Closing, moved to #161

[2018-03-13 17:25] #169 closed

[2018-03-13 19:18] pixelass opened #173 "JSX syntax highlighting"
I am using patternplate for a React.js project.

All code blocks in my markdown files are labeled with ` ```jsx `.

Result: nested elements are not highlighted correctly.

Related issues (via hightlight.js): https://github.com/isagalaev/highlight.js/issues?utf8=%E2%9C%93&q=jsx

<img width="766" alt="screen shot 2018-03-13 at 20 04 09" src="https://user-images.githubusercontent.com/1148334/37364495

[2018-03-13 19:24] pixelass opened #174 "blockquotes: no nested markdown?"
It seems like blockquotes in markdown files don't allow nested markdown.

## Code

[code]

## Expected

## Result

### HTML

[code]
### Screenshot
<img width="761" alt="screen shot 2018-03-13 at 20 21 24" src="https://user-images.githubusercontent.com/1148334/37364934-30deaade-26fc-11e8-9b99-4a57b40cda4a.png">

## Version

[code]

[2018-03-13 19:59] pixelass opened #175 "config: custom svg logo stroke"
I am using a custom logo with a stroke. It seems that the attribute is removed.

* `stroke-width`

I tried using `strokeWidth` without any success

## Config

[code]

## Input

[code]

## Output

[code]

**screenshot**

<img width="50" alt="screen shot 2018-03-13 at 20 54 15" src="https://user-images.githubusercontent.com/1148334/37366435-b80495c4-2700-11e8-8498-3b65a35e5c1c.png">

**expected**

<

[2018-03-13 20:03] marionebl commented on #173
Sure, let's fix this.

Let's have a look at https://github.com/craftzdog/react-codemirror-runmode/blob/master/src/index.js to inform our implementation.

[2018-03-13 20:05] marionebl commented on #174
I think we do not handle nested markdown all that well, currently. Fix for this will have to happen in https://github.com/patternplate/patternplate/blob/master/packages/components/src/markdown/index.js#L32-L79

[2018-03-13 20:07] marionebl commented on #175
Jep, we should allow `stroke-width` here:

https://github.com/patternplate/patternplate/blob/a3748988d708c5bdfa30299236d48e00ded5ca25/packages/client/src/app/utils/svg.js#L12-L16

Want to send a PR for this?

[2018-03-13 20:08] marionebl commented on #125
Won't maintain pattern schema any more.

[2018-03-13 20:08] #125 closed

[2018-03-13 21:08] pixelass opened #176 "error in widgets"
## Input

    ---
    displayName: "Reference: Using Text Elements"
    description: "A simple overview of Text Elements"
    tags:
      - Reference
    options:
      order: 8
    ---

    # Text elements

    Dekk provides some basic text elements.

    ## Text

    A simple Text wrapper.

    ## Title

    An h1 title.
    This component is required
    for `@dekk/master-slides~Cover`
    and

[2018-03-13 21:38] pixelass commented on #175
looks like they need to be mapped though or we can simply camelize all props.

`my-attribute` is not valid in react `myAttribute` is not valid in `SVG`

The string itself should be a valid SVG element.

[2018-03-13 21:46] marionebl commented on #175
Sending all allowed props through camelCase: 👍

[2018-03-13 21:47] marionebl commented on #176
Haven't release the new version with the `ComponentDemo` yet. Use `PatternDemo` and `PatternList` for now, I'll keep around support for them until 3.0

[2018-03-13 21:47] #176 closed

[2018-03-13 21:51] pixelass commented on #176
In that case, it was a c&p issue. `PatternDemo` is not documented at all.

[2018-03-13 21:54] marionebl commented on #176
Released `2.0.0-56`, which contains the required changes

[2018-03-13 21:55] #174 closed

[2018-03-13 21:55] marionebl commented on #174
Fixed via `2.0.0-57`

[2018-03-13 22:54] marionebl commented on #173
Had a look at this, CodeMirror doesn't play well with Node.js apparently :/

[2018-03-13 23:37] pixelass commented on #173
Maybe we can find some ideas here:

https://github.com/JedWatson/react-codemirror/issues/21

https://github.com/TypeCtrl/ngx-codemirror/pull/2

[2018-03-14 00:22] pixelass opened #177 "patterplate build --base not working"
the following commands do not work

[code]

## Expected result

URLs use the base as a prefix `my-repo/patterns?query`

## Actual result

The URLs are always absolute `?query`

## Versions

[code]

[2018-03-14 00:38] pixelass opened #178 "Can't resolve 'raw-loader'"
after clearing node_modules and running yarn install

[code]

## Version

[code]

[2018-03-14 00:48] pixelass commented on #177
https://github.com/patternplate/patternplate/blob/master/packages/cli/src/build/index.js#L25-L27

[code]

if base is `/` allow it
otherwise `/${path.basename(out)}` or `//`

Not sure if this makes sense.

[2018-03-14 01:06] pixelass commented on #177
should probably be

[code]

tested locally

[2018-03-14 01:42] pixelass opened #179 "styleSheet.getName is not a function"
getting this when using transpiled versions in demos.

[code]

[code]

if I use the original src files I get problems with missing babel-loaders

[code]

[2018-03-14 01:51] pixelass commented on #179
seems to work like this:

[code]

[2018-03-14 05:08] #177 closed

[2018-03-14 05:08] marionebl commented on #177
Went with an easier decision tree that requires you to specify `--base` always. Fixed via `2.0.0-57`

[2018-03-14 05:12] marionebl commented on #178
Börks - regression introduced with https://github.com/patternplate/patternplate/commit/56eb890f0562ffc75f7f5e5ea784d0c0ec1bddd8#diff-a42841efb5924227a1ff6ab1d3cc7cbfR31.

[2018-03-14 05:13] #178 closed

[2018-03-14 05:15] marionebl commented on #179
Looks like different `styled-components` versions in `dekk` and `@patternplate/render-styled-components`. Can you verify?

[2018-03-14 05:17] marionebl commented on #178
I am on a flaky connection, so publishing is a bit of an adventure

[2018-03-14 10:44] pixelass opened #180 "Warning about iFrameSizer"
I get a lot of warnings for `iFrameSizer` in the web console:

### Log

[code]

### Versions
[code]

[2018-03-14 10:52] pixelass opened #181 "Errors in Demo (timing issue?)"
When starting patternplate I get this error.

The files are being watched. after I save "any" file all errors disappear.

[code]

## Build script

[code]

## Versions

[code]

[2018-03-14 11:17] pixelass commented on #181
related to #155 (very similar behavior)

## Workaround (not a solution)

I am now building the lib to ensure all files exist before starting patternplate.

[2018-03-14 12:39] pixelass commented on #181
Seems to be an issue with my build.

(I was removing and creating the lib folder twice).

Feel free to comment below if you experience a similar issue.

[2018-03-14 13:49] #175 closed

[2018-03-14 14:29] pixelass commented on #181
Issue still occurs

[2018-03-14 14:33] pixelass opened #183 "Typerror: Cannot read property 'call' of undefined"
I just encountered this issue.

The following error is printed in the web console

[code]

### Versions

[code]

[2018-03-14 14:35] pixelass commented on #183
[code]

[2018-03-14 16:32] marionebl commented on #183
Should be fixed with the latest release

[2018-03-14 16:32] #183 closed

[2018-03-14 17:32] pixelass opened #185 "URLs cause 404 (gh-pages) static build"
Steps to reproduce:

1. https://sinnerschrader.github.io/dekk/manual/?references-enabled=true
2. click a link in the sidebar
3. reload page

or

1. open https://sinnerschrader.github.io/dekk/manual/doc/.manual/reference/installation?references-enabled=true

everything exists in this folder: https://github.com/sinnerschrader/dekk/tree/master/docs/manual/doc/.manual

I checked and found matching ind

[2018-03-14 17:41] marionebl commented on #185
Have you tried using `manual` instead of `.manual`? Does that change anything? I think this is not related to patternplate, but gh-pages:

https://help.github.com/articles/files-that-start-with-an-underscore-are-missing/

[2018-03-14 17:47] pixelass commented on #185
I was wondering about it too. I don't see why it wouldn't work.

I'll create a simple repo with `.foo` in the path and see if that is ignored.

I could imagine that gh-pages treats it as a "hidden folder"

[2018-03-14 17:54] pixelass commented on #185
Confirmed:

https://pixelass.github.io/foo/.foo/

https://github.com/pixelass/foo/tree/master/docs/.foo

Can patternplate rename these folders?

It is obviously an issue if there are 2 folders `.foo` and `foo` and the `.` is simply stripped.

Maybe the names can be hashed instead? `/.foo/bar/baz/.qux/` => `/abc123/bar/baz/xyz789/`

[2018-03-14 18:02] pixelass commented on #185
Sidenote: `.manual` is the source docs folder.

[code]

[2018-03-14 18:05] marionebl commented on #185
Currently I‘d tend not to implement some magic renamer thing. This might go away on its own when I switch to id instead of path based urls for docs, too

[2018-03-14 18:06] marionebl commented on #185
Easy fix would be a .noyekyll file in docs/

[2018-03-14 18:16] pixelass commented on #185
I renamed the folder.

This is such a minor issue for me. At least now it's here for everyone to read.

closing.

[2018-03-14 18:16] #185 closed

[2018-03-14 18:35] pixelass commented on #163
I can't reproduce this issue anymore. Even when using different versions of `styled-components`

[code]

[2018-03-14 18:35] #163 closed

[2018-03-14 18:45] pixelass opened #186 "tags have text-decoration: underline"
Some tags are missing their className which causes them to have an underline

### HTML

[code]

### Screenshot

<img width="271" alt="screen shot 2018-03-14 at 19 20 23" src="https://user-images.githubusercontent.com/1148334/37424073-d95f0db6-27bf-11e8-835f-98ee3d12459b.png">

### Versions

[code]

[2018-03-14 19:40] pixelass opened #187 "Embedding videos"
Allow including videos in guides.

## Motivation

When using Patternplate to create guides for users I want to be able to include an inline video tutorial.

Markdown allows the following:

[code]
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/w3jLJU7DT5E/0.jpg)](https://www.youtube.com/watch?v=w3jLJU7DT5E)

Maybe this could be a `widget`.

[code]

[code]

[2018-03-15 11:09] pixelass opened #188 "Demos => Error: Trying to replace an element that wasn't mounted!"
In some demos I get errors.

This seems to happen in the latest versions of patternplate.

I can work around it with awkward HTML structures (I haven't found out how and why).

## Steps to Reproduce

1. Create a parent Component that allows children
2. Create a child Component
3. ensure that the parent only renders 2 elements
4. force 3 elements to be rendered
5. the error should occur

e.g. might

[2018-03-15 11:17] pixelass commented on #188
Workaround: Use `render-react/render`

Before:

[code]

After

[code]

[2018-03-15 11:21] marionebl commented on #188
This is an issue with styled-component versions, most likely I'll deprecate `render-styled-components` soon because of this.

[2018-03-15 11:21] #188 closed

[2018-03-17 20:24] marionebl commented on #168
Virtual folders compute stable names for usage in as `[name]-enabled` query parameter now, so this specific issue should be fixed/mitigated.

[2018-03-17 20:24] #168 closed

[2018-03-17 20:27] marionebl commented on #179
I'll phase out official supported `@patternplate/render-styled-components` - this issue is most likely connected to it. You'll have to provide a custom renderer for SSR support with styled-components in the near future.

[2018-03-17 20:27] #179 closed

[2018-03-17 20:34] marionebl commented on #173
Looked into the referenced issues and code mirror def. does not support SSR - the supplied fixes conditionaly omit problematic requires on the server and disable code mirror.

I don't think there is a straightforward solution given only highlight.js runs universally and seems to have troubles fixing this.

[2018-03-17 20:41] marionebl commented on #181
Can't reproduce / not actionable to me. This most likely is caused by deleting an entire folder watched by patternplate.

[2018-03-17 20:41] #181 closed

[2018-03-18 11:16] marionebl commented on #187
I like the idea to implement this via widgets because I don't want to extend markdown with new sytanx.

Another approach could be to detect markdown images that point to embed urls of video platforms (youtube, vimeo for starters) and do the embed dance the platform requires. What do you think?

[2018-03-19 11:36] #186 closed

[2018-03-20 11:30] yanniz0r opened #190 "Error: Cannot find module '/**/1268' on startup"
Hello!

I'm using the version 2.0.0-84 and followed along your getting started guide. I ran into the following errors:
[code]
Those errors also occurred with examples from this repository. I tested out the webpack-less and styled-components examples. Besides those error messages, the demos of my components wont render.

I tried it first with the Node version `8.1.0` then I updated to `9.8.0` on Ma

[2018-03-20 13:14] marionebl commented on #190
Thanks for reporting, I'll try to reprduce asap.

[2018-03-20 13:26] marionebl commented on #190
Reproduced this, working on a fix.

[2018-03-20 15:06] marionebl commented on #190
**TL;WR:**

A regression introduced with 4f165f660bb8754938b5968c97b050c1c80ab306. Fix vedfsion is 2.0.0-85. Could you verify this works for you now? Thank you!

–––
Ok, this went down this way:

In 4f165f660bb8754938b5968c97b050c1c80ab306 I introduced webpack worker processes to protect the main thread against the CPU blocking phases in webpack's lifecycle.

This employed a combination of `child_

[2018-03-20 16:34] yanniz0r commented on #190
Hey! Thanks for the fast fix. Works perfectly for me!

[2018-03-20 16:34] #190 closed

[2018-03-20 18:40] marionebl opened #192 "Path issues on win32 system"
There are some issues around the win32 vs posix path delimiters:

[code]

First reported by @TheReincarnator

[2018-03-21 07:33] marionebl commented on #150
I came up with a solution sketch for this:

1. **Create selectors for "next" and "previous" doc items**

[code]

   Changes go here: [packages/client/src/app/containers/documentation.js#L120](https://github.com/patternplate/patternplate/blob/master/packages/client/src/app/containers/documentation.js#L120)

2. **Provide "next" and "previous" doc items to `<Documentation/>` container:**

[code]
   C

[2018-03-22 15:20] pixelass opened #193 "click on logo does not respect --base (=> "/" )"
## Expected

When clicking the logo I expect to be directed to the `--base` flag value.

## Actual

The link always directs to root `"/"`

## Versions

[code]

[2018-03-22 15:22] pixelass opened #194 "allow a custom favicon"
It would be nice to be able to set a favicon (or icons in general)

https://github.com/jantimon/favicons-webpack-plugin

[code]

[2018-03-22 15:31] pixelass opened #195 "Add Plugins"
I would love to see plugins to modify PP.

I am mostly looking for a way to add filters or change the viewport size but there
are several other reasons to support this.

Use cases:

* viewport switcher (responsive/testing)
* color changer (a11y/testing)

It would be nice to be able to add them similar to links or patterns

[code]

[code]

[2018-03-23 06:49] marionebl commented on #195
Sure this will happen at some point in the future, I want to get this right though.

The plugin API will be modelled after vscode plugins (cc @mabels).

[2018-03-23 06:52] marionebl commented on #194
That’s already possible, but undocumented / unstable. Catch me irl and we can talk this through.

I plan to expose / document an ui config with one of the feature releases after 2.0. Favicons would be part of this.

[2018-03-23 06:52] marionebl commented on #193
Thanks for reporting, will fix this soon.

[2018-03-23 18:16] marionebl commented on #192
Issues around components are resolved, remaining:

* no docs are found
* check `build`
* check `create`

[2018-03-23 19:14] #193 closed

[2018-04-06 04:21] zmnv opened #200 "create fails when yarn is not installed"
I don't want to use yarn at all. Only npm.

Without yarn patternplate can't create new project:

[code]

Just setup **yarn** and **yarn add...** and it works.

[2018-04-06 04:24] zmnv commented on #200
Just joke. It Doesn't.

zmnv:au-guides zmnv$ yarn start
yarn run v1.5.1

[code]

[2018-04-06 05:03] marionebl commented on #200
Thanks for reporting, I'l investigate right away. Could you provide the output of `patternplate -v`?

[2018-04-06 05:40] marionebl commented on #200
Fix for second problem released via `v2.0.12`, at least for installs using `render-default`. Can you provide your `patternplate.config.js` and verify you have `@patternplate/render-styled-components` installed?

[2018-04-06 05:52] marionebl commented on #200
Can reproduce the same error messages when starting a `styled-components`-referencing example with `@patternplate/render-styled-components` not being installed.

[2018-04-06 05:59] marionebl commented on #200
The issue goes away when installing `@patternplate/render-styled-components`, see the example `package.json`:

https://github.com/patternplate/patternplate/blob/28c0cb5f77e0896a3c2393e54cc04175ed0931ab/examples/styled-components/package.json#L26-L28

[2018-04-06 05:59] #200 closed

[2018-04-06 06:14] marionebl opened #201 "Emit better errors when render packages can not be resolved"
When render-packages can not be resolved via the `compiler` package (as seen in #200), we currently emit a confusing technical error message that gets obfuscated by `unhandledPromiseRejection` warnings.

In case of resolve errors we should

* check if the required packages are specified in `package.json`
  * **yes**: check if `*-renderer/package.json` can be resolved
    * **yes**: `*-renderer` re

[2018-04-10 17:04] marionebl commented on #192
Docs are fixed via 011580277d7dd6c09fa304df4fa4dca93d63f43a

[2018-04-10 17:40] marionebl commented on #192
Issues should be solved in version `2.1.5` and up.

[2018-04-10 17:40] #192 closed

[2018-04-11 16:52] chrisanderss0n opened #205 "Terminal GIF out of sync with documentation"
The GIF in the documentation here:

https://patternplate.github.io/doc/docs/advanced/deploy?guides-enabled=true&advanced-enabled=true#build-a-static-interface

Is out of sync with the written documentation.

How was the GIF created? Happy to fix myself.

[2018-04-11 20:32] marionebl commented on #205
Hey @chrisanderss0n, that is a good catch - thank you!

The sequence is a CSS-animated SVG created via [svg-term-cli](https://github.com/marionebl/svg-term-cli).

The relevant repo that power `patternplate.github.com/media` is here:
https://github.com/patternplate/media

The setup there works by using [casts/build/screencast.config.js](https://github.com/patternplate/media/blob/master/casts/build/

[2018-04-12 19:26] #205 closed

[2018-04-13 09:32] pixelass opened #208 "Error when starting patternplate (TypeError: Expected `moduleId`)"
### Description

I get an error in the console (terminal) when starting patternplate.

The error does not seem to have any impact.

The project was created using `npx create-patternplate --out my-patternplate --guide`

### Config

[code]

### Logs

<details>
  <summary>Error Log</summary>

[code]

</details>

### Environment

| name         | version |
|-------------:|---------|
| node         | v

[2018-04-13 11:14] pixelass commented on #208
https://github.com/pixelass/patternplate-bugs

[2018-04-13 11:41] pixelass commented on #208
The issue is related to the config (missing "render" and "mount" keys).

After adding those keys the error disappears.

[2018-04-13 13:13] marionebl commented on #208
I'll add a `try-catch` level that creates better error messages for this, telling you explicitly:

* there has to be a full set of config when providing `patternplate.config.js`
* `render` and `mount` are mandatory

[2018-04-13 13:16] marionebl commented on #208
Also see #201

[2018-04-13 19:35] marionebl commented on #208
Better error messages shipping as of `2.2.0`

[2018-04-13 19:35] #208 closed

[2018-04-13 19:35] marionebl commented on #201
Better error messages shipping as of `2.2.0`

[2018-04-13 19:35] #201 closed

[2018-04-16 13:48] marionebl commented on #180
Fixed as of version 2.3.1

[2018-04-16 13:48] #180 closed

[2018-04-16 15:06] mr94 opened #209 "Editorial Changes"
Summary issue for editorial changes on the patternplate cover page.

[2018-04-16 21:54] marionebl commented on #194
As of 2.3 this is documented, the option is called `ui.favicon`:

https://patternplate.github.io/doc/docs/reference/configuration?guides-enabled=true&reference-enabled=true#ui.favicon

[2018-04-16 21:54] #194 closed

[2018-04-16 21:55] marionebl commented on #145
Taking this down – the dependency tree is low-priority compared to expanding editing (e.g. markdown editor) and integration features (e.g. sketch export).

[2018-04-16 21:55] #145 closed

[2018-04-16 21:56] #160 closed

[2018-04-17 05:30] marionebl commented on #195
Closing for now as this is not on the roadmap for the immediate future. We'll pop this open again when it comes up.

[2018-04-17 05:30] #195 closed

[2018-04-17 07:07] kotzendekrabbe opened #213 "Add context(dirname) to cover.render"
Continue with #211

"
Please provide a context to cover.render: https://github.com/patternplate/patternplate/blob/master/packages/api/src/cover.js#L25
"

We need the dirname also at cover .js, for the cover (start) page, to be able to render "things" which need the path, like css pre processors.

[2018-04-17 09:26] sebs opened #214 "trying to document a polymer web component"
Hi

I was trying to change the hello-world demo to serve me a polymer component and I got some CORS errors due to the fact that the demo is shown in an iframe.

What did I do:

0. Initialized Demo
1. Installed my  polymer web components under static/bower_components/<mycomponent>
2. changing the demo to the following code. In order to get all my components loaded.
Result: A CORS error for localhos

[2018-04-17 10:13] marionebl commented on #214
Thanks for reporting!

This might be related to the introduction of a `referrerpolicy="no-referrer"` on iFrames in https://github.com/patternplate/patternplate/commit/890d4e63a71593449951d52c56e12d9d12903902#diff-275dba57d57f2c8ac3cf2530e80384deR17.

Two things would help a lot with fixing this:

1. Could you confirm the demo works in fullscreen mode? (Reach it by clicking the four arrow icon on t

[2018-04-17 15:26] fahrradflucht opened #215 "Error on docs homepage"
Visiting [`https://patternplate.github.io/doc/docs/why/?guides-enabled=true`](https://patternplate.github.io/doc/docs/why/?guides-enabled=true) I get the following:
<img width="874" alt="screen shot 2018-04-17 at 17 24 23" src="https://user-images.githubusercontent.com/13237661/38879742-62b49310-4264-11e8-9c77-9d93cb45ad94.png">

[2018-04-17 15:34] fahrradflucht commented on #215
Just noticed. This is no docs instance problem. It happens on a new PP installation as well.

[2018-04-17 15:42] marionebl commented on #215
This has been introduced via https://github.com/patternplate/patternplate/commit/3f9edb6f24f0cbfd1758d1897cf412ecf7b74ec3#diff-ff52f4b5ac4f681c25390a80be3a2fa2R22. *

I can't reproduce this directly so there might be some extension emitting `message` events without a `.data` payload.

The fix for this would be to add a check for `e.data` in the `message` event handler:

https://github.com/patternp

[2018-04-17 15:45] fahrradflucht commented on #215
I think it some developer extension that has an event of type `@devtools-page`. And it is an object so if we are sure that this is always a JSON string then sure I'll patch that in.

[2018-04-17 16:15] fahrradflucht opened #217 "Error warning doesn't close on (x)"
When getting an error notification it doesn't close when clicking on `x`. It just adds the `js-warning=false` query parameter to the url. The notifications vanishes only after reloading the page.

[2018-04-17 17:24] marionebl commented on #209
Closing for now as the PR workflow seems to work pretty well

[2018-04-17 17:24] #209 closed

[2018-04-17 18:47] marionebl commented on #217
Ok that is an edge case where `react-router` manages to get its event handlers in place before the crash occurs.

We need additional state handling at https://github.com/patternplate/patternplate/blob/master/packages/client/src/app/containers/application.js#L160-L163 to make sure the warnings is only visible when `query["js-warning"] !== "false"`.

[2018-04-17 19:20] MartinHelmut opened #218 "No link to medium article from cover page"
Hey,

if I try to click the "Read the story on Medium" button on the https://patternplate.github.io/ cover there is no link to go to. Related line is: https://github.com/patternplate/patternplate/blob/3c74a9f95dcce9d8631a37eee214beb318fa6ef3/packages/components/src/cover/index.js#L202

If I had found the article on medium, I would have created a PR 😅

[2018-04-17 19:40] marionebl commented on #218
Good catch! The article does not exist yet, so there is nothing link. I'll keep this around to remind ourselves.

[2018-04-18 08:05] sebs commented on #214
I have my free day, i will cook something like a example up.

I have deleted the repos I had after the bug report (very smart, I know) but other tool where "webcomponents" work, do have some of the new iframe properties set. I am not sure though, if that comes with a security flaw by design when this is activated.

[2018-04-18 10:44] marionebl commented on #217
Fixed via `2.4.1`

[2018-04-18 10:44] #217 closed

[2018-04-18 18:08] marionebl commented on #214
I can reproduce this via https://github.com/marionebl/patternplate-cors-issue-repro, at least locally, as in:

1. The iFrame throws an CORS exception
2. The corresponding fullscreen view does not

The static build I pushed does not show this behaviour, presumably because GitHub delivers html files with `Access-Control-Allow-Origin: *`

https://marionebl.github.io/patternplate-cors-issue-repro/patt

[2018-04-18 22:16] marionebl commented on #214
Fixed via 2.5.1. Please reopen if your tests create different results

[2018-04-18 22:16] #214 closed

[2018-04-19 07:24] sebs commented on #214
ok, will do

[2018-04-19 09:19] mr94 opened #219 "docs: list of principles outdated"
The list of principles at [https://patternplate.github.io/doc/docs/why/?guides-enabled=true](https://patternplate.github.io/doc/docs/why/?guides-enabled=true) is outdated, see newer version at [patternplate.github.io](patternplate.github.io).

[2018-04-19 14:05] sebs commented on #214
works now. Thanks

[2018-04-19 18:33] fahrradflucht opened #221 "styled-components error when used in a yarn workspace"
There is something really strange going on when using patternplate, styled-components and yarn workspaces together. I created [a repro](https://github.com/fahrradflucht/pp-sc-yw-repro) to debug it with no luck yet.

**What happens:**

When using patternplate with styled-components in a workspaces project sc emits the following error on the server as soon as a pattern is rendered.
[code]

Also noti

[2018-04-19 18:53] marionebl commented on #221
My bet currently is on patternplate‘s compiler resolving styled-components from its nested node_modules for the mono-repository scenario. Haven‘t verified this yet though.

[2018-04-19 18:57] fahrradflucht commented on #221
Thought the same after talking to you today but I think there is only one version of `styled-components` present in the mono repo scenario.
[code]

[2018-04-19 19:08] fahrradflucht commented on #221
I don't actually think this is what is happening. Only @patternplate/components has a dependency on styled-components and it is actually not installed because @patternplate/client ships its own build.

It would be very strange if it somehow would still resolve to this version of styled-components wouldn't it?

[2018-04-19 19:58] marionebl commented on #221
True - I am debugging into this and my initial suspicions don't hold true.

[2018-04-26 11:14] pixelass opened #224 "unsupported UI options (copied from documentation)"
Theme copied from [https://patternplate.github.io](https://patternplate.github.io/pattern/themes?guides-enabled=true&advanced-enabled=true&components-enabled=true) causes error due to unsupported options.

[code]

[code]

[code]

[2018-04-26 11:47] marionebl commented on #224
`colorBackgroundSecondaryTertiaryDark` should be `colorBackgroundTertiaryDark` here

https://github.com/patternplate/patternplate/blob/master/packages/components/src/themes/demo.js#L43

[2018-04-27 19:54] chrisanderss0n opened #225 "'we messed up' error"
I see a yellow error message appear at the top of the UI every time I visit my own project as well as the [patternplate hosted on github pages](https://patternplate.github.io).

<img width="791" alt="screen shot 2018-04-27 at 3 52 36 pm" src="https://user-images.githubusercontent.com/6155115/39382384-45fc08a8-4a33-11e8-9cc3-4e4ad21439ca.png">

[2018-04-27 19:59] marionebl commented on #225
Hey, could you provide some more details?

1. Which browser + version are you using to access patternplate?
2. Can you see an exception in the developer console of that browser?

[2018-04-27 20:07] chrisanderss0n commented on #225
Ack! Sorry was multitasking:

Chrome Version 65.0.3325.181 on Mac 10.13.4

In dev console I see:  Unexpected token s in JSON at position 0

Appears to be happening on line 30  in patternplate/packages/client/src/app/actions/listen.js

[2018-04-27 20:51] marionebl commented on #225
Ok, here is what is happening: `patternplate` registers a global event listener for `"message"` to handle some `postMessage` communication.

There are some chrome extensions that emit message events that contain `data` that is no valid JSON, which causes line 30 to fail. Fix incoming, thanks for reporting!

[2018-04-27 21:58] marionebl commented on #225
Fixed via 2.5.4. Thanks again for reporting.

[2018-04-27 21:58] #225 closed

[2018-04-28 11:02] pixelass opened #226 "better error handling"
I keep running into the same issues:

I've been trying to figure out the issues for several hours but don't see what's wrong.
The error message does not help in any way.

This is less about the issue than the fact that errors could deliver better information.

## terminal
[code]

## Chrome

[code]

## versions

[code]

## config

[code]

## jsx

[code]

## js

[code]

[2018-04-28 11:36] marionebl commented on #226
Please provide a link to the relevant repo / commit hash so I can reproduce.

[2018-05-03 06:48] marionebl commented on #226
Without a repro this is not actionable. Please feel free to reopen when you can provide one.

[2018-05-03 06:48] #226 closed

[2018-05-03 07:19] marionebl commented on #187
Won’t implement this mid term, will reopen if we do.

[2018-05-03 07:19] #187 closed

[2018-05-03 07:20] marionebl commented on #150
Won’t implement this mid term, will reopen if we do.

[2018-05-03 07:20] #150 closed

[2018-05-17 15:07] chrisanderss0n opened #227 "bug: iframe has a max width of 1240px"
The iframe that contains the component code appears to have a maximum width of 1240px. I poked around but could not find where this limitation is set.

If you can point me in the right direction I'll make the change and push it up.

[2018-05-22 09:29] marionebl commented on #227
Hey there, the limit is set at https://github.com/patternplate/patternplate/blob/0dd3760354892db02bdc0b674476a2195ba53176/packages/client/src/app/components/pattern/index.js#L68, happy to receive a PR for this! 👍

[2018-05-24 10:48] niebuhrhood commented on #224
Hej folks,
i fixed it in #229

[2018-05-24 10:48] #224 closed

[2018-05-24 12:29] chrisanderss0n commented on #227
https://github.com/patternplate/patternplate/pull/228

[2018-05-24 12:29] #227 closed

[2018-05-29 08:30] niebuhrhood opened #231 "patternplate doesn't start if port 1337 is already used"
I dont't know if i getting it right...
You can't run two patternplate processes at the moment without changing the port number manually.
May we have an "find-free-port" functionality, when starting the app?

[2018-06-04 14:46] chunksnbits opened #232 "IE11 compability issue causes 'Syntax error'"
The angular demo case fails to execute Javascript on the client side, due to some missing ES6 -> ES5 conversions within patternplate client:

Observed:

On IE11 client side evaluation of the component is being stopped before the initial demo-dependency has been resolved (i.e., the application crashes on a webpack.require statement). The console shows 3 errors:

![image](https://user-images.githubu

[2018-06-04 16:08] #232 closed

[2018-06-04 16:13] marionebl commented on #231
Hey @niebuhrhood, thanks for reporting.

I removed the "frind next free port" functionality when moving from 1.7 to 2.0 deliberately to avoid confusing devs that have started a different patternplate instance and wonder why certain changes would not show up on the interface.

Following that reasoning this won't make a comeback. What are your thoughts?

[2018-06-04 16:14] marionebl commented on #232
Fix released via @patternplate/client@2.5.13. Thanks again!

[2018-06-06 15:41] niebuhrhood commented on #231
Hmm, yes thats a good reasen. But on the other hand you would have confusion with an "address already in use" error.

[2018-06-09 18:27] marionebl commented on #231
We probably should address this with a very nice error message and clear instructions how to resolve the issue. Could you lend a hand?

[2018-06-11 14:00] niebuhrhood commented on #231
Ok, why not ;-)
This would be a challenge for me but i'm interested to do that. Do we need a node package like [pretty-error](https://www.npmjs.com/package/pretty-error) for that or is it better to write in plain js?

[2018-06-29 09:09] LKuechler opened #235 "Render functions throwing error with version 2.5.19"
The change with having the render function be called with await in this PR(https://github.com/patternplate/patternplate/pull/234) seems to cause all none async renderers to throw this error:
`TypeError: render(...).then is not a function`

This is happening because the `await` is change to `.then` in the build process.

A workaround for now is to wrap the render functions in a custom renderer that

[2018-06-29 09:12] Dangoo opened #236 "@pattern/api: render().then is not a function"
After update to @patternplate/api@2.5.19 with MR #234 there seems to be a problem with the babeled output:
[code]

[2018-06-29 09:14] Dangoo commented on #236
Duplicate with #235

[2018-06-29 09:14] #236 closed

[2018-07-03 09:49] marionebl commented on #231
I think we can go with just a nicely phrased error message, no external module needed.

[2018-07-03 13:17] annstu opened #238 "Nesting Categories Multiple Times"
We have a lot of content in the documentation, which we want to organize better. We want to nest the categories for a better overview.

**Now:**

[code]

**What we would like to do:**

[code]

[2018-07-06 09:44] marionebl commented on #235
Fixed via 2.5.20

[2018-07-06 09:44] #235 closed

[2018-07-13 06:30] Nosen opened #239 "Import component html to documentation"
I'd like to display the source code for a component in its documentation file. I can do this at the moment just by copying and pasting the html, but I was wondering if there was a way to import/reference the html instead.

[2018-07-13 22:16] marionebl commented on #239
Thanks for the suggestion @Nosen. Currently there is no way to reference/import other code files into Markdown files.

I am rolling around some ideas about this involving https://github.com/mdx-js/mdx but it those are not ready for prime time yet.

Some questions to clarify:

* Are "source" and "artifact" the same for your use case, e.g. is the HTML you want to display the result of e.g. some temp

[2018-07-14 23:37] Nosen commented on #239
The html I want to display is the output of the components html function. The representation I was thinking about is just a code block. ie, if I used the widget markup:

[code]

But the body of the widget is the html of my imported component.

[2018-07-23 10:54] felabr opened #240 "widget API with multiple demo parts for each pattern"
Hello,

the widget API allows adding the demo of a pattern to a md file but only the  whole thing. It would be a very cool feature to be able to include only parts of the demo.

I imagine it should be feasible to export multiple small parts of the demo in the demo file, and to have one default export that joins them all together. The widget API would then allow selecting the individual small parts

[2018-07-30 14:52] annstu opened #242 "Space after link"
Currently patternplate creates a space after links:

<img width="255" alt="bildschirmfoto_2018-07-17_um_16 20 14" src="https://user-images.githubusercontent.com/40796462/43404666-4e859726-9418-11e8-8338-efc06de80aa8.png">

[2018-08-02 07:51] marionebl commented on #173
Looking at https://github.com/wooorm/refractor we just might be able to use Prism highlighting on the server. We should give it a spin.

[2018-08-03 15:23] annstu commented on #242
**Update:** This only happens in tables.

[2018-08-11 21:33] marionebl commented on #240
This is a very good and useful feature I'd like to see in patternplate. Some thoughts:

1. Variants could be displayed as tabs between the demo and the meta data pane.
Clicking on a variant tab makes the demo show said variant.

2. Variants should be uniquely addressable to make them accessible via fullscreen demo urls, too.

3. Given a `.default` export it will be rendered. It is up to the user t

[2018-08-11 21:50] marionebl commented on #242
Sure, let's fix this.

[2018-08-11 21:59] marionebl commented on #239
Ok, understood. There is currently no way in patternplate to do this. I imagine a new widget could be implemented, e.g.

[code]

To match this with a way to display sources:

[code]

What do you think?

[2018-08-11 22:10] marionebl commented on #238
As discussed with @annstu in person: The tagging/saved search logic adopted via `2.0` does not support this case very well.

I don't see how we might implement this properly without introducing UI to order/rename/create tree entries in the navigation. Closing for now.

[2018-08-11 22:10] #238 closed

[2018-08-12 08:28] #242 closed

[2018-08-12 08:33] marionebl commented on #231
@niebuhrhood Are you still interested in this?

[2018-08-12 08:33] marionebl commented on #242
Released via 2.5.23

[2018-08-13 08:34] annstu opened #245 "Proposal for table design"
<img width="1168" alt="bildschirmfoto 2018-08-13 um 10 09 22" src="https://user-images.githubusercontent.com/40796462/44021177-6de877c4-9ee4-11e8-9ded-f7e56e55f313.png">

[2018-08-13 08:36] marionebl commented on #245
@markusoelhafen Could you chime in on this?

[2018-08-16 12:57] sandra0503 opened #246 "Proposal: Automated rendering of props list"
It would be nice if the list of props of a component could be automatically rendered to the documentation.

[2018-08-16 21:26] marionebl commented on #173
Release as of 2.5.25

[2018-08-16 21:26] #173 closed

[2018-08-16 21:27] marionebl commented on #213
Fixed via #243 and #211

[2018-08-16 21:27] #213 closed

[2018-08-16 21:31] marionebl commented on #231
Closing for inactivity

[2018-08-16 21:31] #231 closed

[2018-08-17 11:02] marionebl commented on #246
Thanks for the suggestion @sandra0503.

We might builds this enabling user-code to emit parts of the markdown files below a pattern demo, maybe a [widget](http://localhost:1341/doc/docs/guides/use-widgets?guides-enabled=true&reference-enabled=true&advanced-enabled=true) could do the job, too. 🤔

Do you have examples of such property lists you like in particular?

[2018-08-17 11:53] sandra0503 commented on #246
A nice example is [docz](https://www.docz.site/introduction/documenting-your-things). They show a table of props with type, if it is mandatory, the default value and a description.

[2018-08-30 10:07] marionebl opened #251 "Support MDX"
MDX is a great idea(tm) and we should support it, at least for React based projects.

Also think about ways to support docz style projects out of the box.

[2018-09-14 06:16] larstoepner opened #256 "Proposal: Add a source code button for the component demo"
It would be great if there could be a source code button for the component demo like it was the case in patternplate 1.0 :)

[2018-09-14 06:37] marionebl commented on #256
Thanks for the suggestion @larstoepner. Would you mind digging through #239 (might be interesting: https://github.com/patternplate/patternplate/issues/239#issuecomment-412304000). I'd close this issue and consolidate discussion / ideas around this feature over at #239. What do you think?

[2018-09-14 06:56] larstoepner commented on #256
yep, do it. thanks :)

[2018-09-14 07:56] #256 closed

[2018-09-14 10:21] alexandrethsilva opened #257 "Project doesn't run on Windows 10 64-bit (possibly related to node path?)"
@marionebl First of all, thanks a lot for this project. The concepts behind it are really interesting and it has been a great experience to use it on OS X.

Regarding the issue, when running the latest version (`2.5.25`) I had a project break when being used by a developer trying to run it on a Windows 10 64-bit machine and, upon investigation, I had a feeling that it was in one case (my project)

[2018-09-14 10:35] marionebl commented on #257
Thanks for the report @alexandrethsilva. (Glad you like working with patternplate 🎉 )

## TL;DR

I'll investigate this particular issue with the getting started guide over the weekend. Looks like there is some exception being thrown when patternplate tries to start the internal webpack workers.

That being said I'd appreciate a PR addressing issues where you found them. 👍

Any chance you could als

[2018-09-14 10:39] alexandrethsilva commented on #257
Thanks for the quick Feedback @marionebl, I'll be glad to open a PR as soon as I can identify what's going on. 👌

I'll rerun my project against `ndb` and update this issue with the output being thrown there right after.

[2018-09-14 12:03] alexandrethsilva commented on #257
So, in my Project specifically, it's throwing also on `create-compiler`:
[code]

Here's the piece:

[code]

So it tries to pull the `message` off the `payload` object, but the key doesn't exist. The shape of it is actually the following:

[code]

And what I meant with my suspicion that it's related to `path` Resolution is that this:
`"Z:\Development\Playgrounds\my-project\libadgesdemo.css"`

Shou

[2018-09-17 14:00] #257 closed

[2018-09-17 14:18] alexandrethsilva commented on #257
@marionebl Great stuff! Thanks a lot 🚀

[2018-09-17 14:35] marionebl commented on #257
In the process of publishing: 😁

<img width="1046" alt="screen shot 2018-09-17 at 16 34 17" src="https://user-images.githubusercontent.com/4248851/45629846-a2dcaf80-ba97-11e8-8a05-a286a32a11a0.png">

[2018-09-17 14:53] marionebl commented on #257
Released via `3.0.1` 🎉

[2018-09-21 12:03] marionebl opened #263 "Improve patternplate stability"
In order to enhance patternplate's stability we'll port all sources to TypeScript and add unit tests where applicable.

* [x] box
* [x] validate-config https://github.com/patternplate/patternplate/pull/252
* [x] load-config https://github.com/patternplate/patternplate/pull/253
* [x] load-manifest https://github.com/patternplate/patternplate/pull/255
* [x] load-doc https://github.com/patternplate/p

[2018-09-23 17:07] marionebl opened #266 "Rework linking"
🚧 This is a work in progress

The current mechanics of linking from docs to other docs or patterns is confusing and hard to get right. We should change it to a system where links that point to the relevant files are resolved correctly by patternplate. Some ideas:

* Should be validated with expressive error message
* Make it so that tools like VSCode can follow the links

[2018-09-24 08:54] larstoepner opened #267 "Infinite Loading on PP2.0 start. Components won't Load"
Hi everyone,

I have a really hard time getting pp2.0 to run right now.

At first it was simply not starting at all. After I ran `npm run dev` I just encountered a blank page with an infinite loading animation at my chrome tab. No error indications whatsoever. I removed `node_modules` and `build`, re-installed everything, ran `npm run build` and `npm run dev.`
Still pp2.0 is not working. In my con

[2018-09-24 09:32] marionebl commented on #267
Hey @larstoepner, thanks for reporting. This was a Heisenbug type of issue in the `^2.5` version range.

Should be fixed as of version 3, at least you should see error messages in the terminal indicating what went wrong.

[2018-09-24 09:32] #267 closed

[2018-10-07 09:14] marionebl commented on #246
@sandra0503 Thanks for the suggestion. I think we def. should implement something like, probably using the `widgets` mechanics of patternplate:

https://patternplate.github.io/doc/docs/guides/use-widgets?guides-enabled=true&advanced-enabled=true

This could be part of a general push for more advanced widgets, also see https://github.com/patternplate/patternplate/issues/239

[2018-11-13 18:10] marionebl commented on #263
Related PR: #274

[2018-11-25 12:05] marionebl commented on #245
Fixed per #249

[2018-11-25 12:05] #245 closed

[2018-12-01 14:38] marionebl commented on #251
Let's stick with the `widget` idea for now.

[2018-12-01 14:38] #251 closed

[2018-12-01 14:38] marionebl commented on #218
Fixed via fed983ba89e321ab9e6d483d7e66d14d4b512f5a

[2018-12-01 14:38] #218 closed

[2018-12-01 14:42] marionebl opened #282 "Provide deployment command"
`patternplate deploy` should allow one-step deployments

* Deploy to `Github Pages`, `surge.sh`
* Deploy automatically provided all required information have been passed
* Provide an interactive mode when required information has to be entered by the user
* Work on TravisCI,  CircleCI as well as locally
* Comment the deployed URL on the relevant commit / PR when executing on CI

[2018-12-01 14:58] marionebl opened #283 "Enable TOC in markdown files"
Create docs table of contents based on the `h1 - h3` tags via [remark-toc](https://github.com/remarkjs/remark-toc).

Use should enable/disable this via frontmatter in the relevant markdown file. Default is disabled:

[code]

[2018-12-01 15:13] marionebl opened #284 "Improve search with external provider"
Provide an option to enable Algolia as a search engine when the patternplate instance is currently online. Should be disabled by default.

[2018-12-01 15:55] marionebl opened #285 "Provide an advanced markdown guides"
Explain patternplate-specific markdown features in patternplate

* Videos
* Widgets
* Layouts
* Blocks

[2018-12-02 13:46] marionebl opened #287 "Search performance degraded"
Searching performance is degraded by high-frequency rerendering the **entire** application while typing.

This is presumably caused by some of our reducers / selectors tainting the state with newly generated objects on a lot of cycles. I haven't found the connection with `.searchValue` yet.

[2018-12-03 13:47] LKuechler opened #289 "Links in the search are not changing the URL correctly"
With the url changes the links in the search seem to be broken.

### Steps to reproduce:
1. Open https://patternplate.github.io/doc/docs/why
1. Click on search icon
1. Search for `component` and select the first component

### Expected outcome:
The selected component is displayed and the url should look similar to this
`https://patternplate.github.io/pattern/@patternplate/component-icon.html?searc

[2018-12-03 15:04] kotzendekrabbe commented on #289
and so it comes that @LKuechler was a little bit faster than me 😂
+1

[2018-12-05 15:19] #289 closed

[2018-12-06 10:49] LKuechler commented on #289
@kotzendekrabbe This should now be fixed with the `v3.2.2` version :)

[2018-12-07 00:52] pixelass opened #293 "ui.icon & ui.favicon not working"
WHen adding `ui.logo` or `ui.favicon` I cannot see any changes to the UI.

[code]

<img width="303" alt="screen shot 2018-12-07 at 01 50 14" src="https://user-images.githubusercontent.com/1148334/49620737-867b4f80-f9c2-11e8-8b19-57b04bfa62c3.png">

[code]

[2018-12-07 01:08] pixelass opened #294 "static build: file references collide with "@my-scope/my-package" style names"
Steps to reproduce:

1. Add a package with a namespace e.g "@stickyroll/configure-stickyroll"
2. follow the build steps from the patternplate documentation
3. the files are now located aside demo
4. `demo/@stickyroll/*.html` have references to `../` instead of `../../`

demo collapsed

<img width="393" alt="screen shot 2018-12-07 at 02 05 01" src="https://user-images.githubusercontent.com/1148334/

[2018-12-07 03:06] pixelass opened #295 "Logo directs to root (--base not respected)"
I have the same issue as in #193

Live example: https://stickyroll.github.io/react-stickyroll/

[code]

[2018-12-07 03:32] pixelass commented on #294
I tried setting `name` in the frontmatter part but right now `package.json` wins over frontmatter.

I tried using the old `pattern.json` method and setting patternplate.name in the package.json.

None of the above attemps changed anything.

[2018-12-07 05:52] marionebl commented on #295
Thanks for reporting, appears to be a regression introduced via 286

[2018-12-07 05:53] marionebl commented on #294
Thanks, the new `depth` computation seems to be off for your case. We'll fix this promptly.

[2018-12-07 05:54] marionebl commented on #293
Will try to reproduce and come back to you

[2018-12-07 06:14] mabels opened #296 "update dependency to avoid use(2.0.x) lazycache webpack hickup"
In the deeper tail of patternplate a module named snapdragon uses a use dependeny which includes the use module in version 2.0.x. The use module includes a

var utils = require('lazy-cache')(require);

CURRENTLY WIP

[2018-12-07 09:39] #295 closed

[2018-12-07 11:15] marionebl commented on #294
Hey @pixelass, I am not sure if unserstand the issue here correctly. Is there a bug in the interface caused by this (missing scripts?)?

[2018-12-07 11:18] #293 closed

[2018-12-07 12:08] pixelass commented on #294
No scripts are loaded at all. Only the SSR works.
The interface is not affected. This is related to the iframe (and debug view) of Component demos.

**Better explanation**

`@foobar/baz`  adds a new folder in the demo of the build (`api/demo/@foobar/baz`)

The js files are hosted aside the demo folder. (`api/patternplate.scripts.js`).
Therefore the references do not point to the correct directory

[2018-12-07 12:11] pixelass commented on #294
I haven't tried but I think you should be able to reproduce it with this example: https://github.com/patternplate/patternplate/blob/master/examples/lerna/packages/button/package.json#L2

I have a very similar setup. (I'm not sure if you tested the examples for static builds)

I was really wondering about this since patternplate also uses a similar setup. Maybe I got something else wrong or forgot

[2018-12-07 12:13] pixelass commented on #293
Thank you 🙏

[2018-12-08 01:05] pixelass commented on #293
Hi. thank you for the quick release. I tested it but can still see the original (pp) logo instead of the one from my config.

`@atternplate/cli: 3.2.3`

[2018-12-08 01:50] pixelass commented on #293
My bad. It seems to work now. Not sure what the issue was.

Thank you again

[2018-12-08 11:15] marionebl commented on #294
Yes, I can reproduce via the lerna example, thanks. I'll whip up some integration tests to catch this early.

[2018-12-08 13:39] pixelass opened #299 "Failed to load probe (prope)"
I get an error in the console:

[code]

The file in the static build is called `patternplate.web.prope.js:1`

`probe` `prope`

<img width="446" alt="screen shot 2018-12-08 at 14 34 44" src="https://user-images.githubusercontent.com/1148334/49686582-d5c29c80-faf6-11e8-830d-de5428a40298.png">

<img width="246" alt="screen shot 2018-12-08 at 14 37 30" src="https://user-images.githubusercontent.com/11

[2018-12-08 13:40] pixelass commented on #299
Aside from the errors I don't know what this does. Everything seems to work fine.

[2018-12-08 13:52] marionebl commented on #299
This a a leftover from an earlier version. Will remove together with solving #294

[2018-12-08 16:18] pixelass opened #300 "content.head not respected (Cover)"
This issue happens when using the cover feature of patternplate.

I am trying to inject a meta tag into the head with SSR support.

I added this code: (expecting it to work)

[code]

The css is applied but the meta tag does not appear. (while there is a comment for this in he DOM). I'm not sure if this is not implemented yet or a bug.

I looked at the source code for your own cover and followed th

[2018-12-08 20:21] marionebl commented on #300
Does that happen for both the `development` version and the static build?

[2018-12-08 20:34] pixelass commented on #300
Yes.

This is the static file: (shortened)

[code]

[2018-12-09 07:00] pixelass commented on #300
This can easily be done with a custom renderer for patternplate.

[code]

**with styled-components**

[code]

[2018-12-09 09:34] marionebl opened #302 "Allow users to add a header to patternplate interface"
While patternplate per se does not need a header-type of UI element (yet), the question why there is none often comes up when discussing features with users.

Let's address this by allowing users to inject their own.

[2018-12-09 11:05] #294 closed

[2018-12-09 11:05] #299 closed

[2018-12-09 12:09] #300 closed

[2018-12-17 12:25] tilmx opened #308 "Clicking headlines in docs files does not scroll"
## Problem Description
There are chapters generated with the headlines used in Markdown for the docs pages. If I click on a headline (e.g.) https://patternplate.github.io/doc/docs/guides/add-component.html?guides-enabled=true#what-to-expect, I expect the website so scroll there. But it scrolls to the top.

## Expectation
When I click on a headline, the page should scroll there.

[2018-12-17 12:42] marionebl commented on #308
Can reproduce on http://patternplate-commit-fc0f406520840d31ee2eb0904786193fea49c766.surge.sh/doc/docs/why.html

[2018-12-21 15:11] chaosmonster opened #311 "alternative widget syntax in markdown"
As a user I would like to have a simpler version to include widgets.
I would like to have
[code]
[code]

[2018-12-22 07:05] marionebl commented on #311
Good idea let's do this.

[2019-01-20 02:39] zacharyrs opened #322 "Issues resolving HTML and CSS files."
Hi!

I'm having a little trouble getting patternplate to behave in my repo (https://github.com/zacharyrs/ssg.z).

I process `./src` to `./lib`, such that...
pattern.json:
[code]

demo.js:
[code]

header.html:
[code]

header.css:
[code]
In the log, I get...
[code]

However unfortunately the page never loads the component, with 'waiting for localhost' bottom left.

[2019-01-20 03:12] zacharyrs commented on #322
So, turns out this was just me missing something...

While using babel I used `exports` rather than `module.exports`.
Sadly that doesn't seem to work in this use.

[2019-01-20 04:09] zacharyrs commented on #322
Thought I'd fixed it, but it appears not so.

Given demo.js as follows:
[code]

I receive no output.

[2019-01-20 08:40] marionebl commented on #322
Thanks for reaching out. You'll want to export functions that return string values of your CSS / HTML like this:

[code]

or this:

[code]

[2019-01-20 09:30] marionebl commented on #322
I went ahead and create a PR that demonstrates how to use/write patternplate demos.

I'll close this issue for now as demos appear to work as expected in your setup. Feel free to reopen if the problem persists. Please join the [patternplate Gitter org](https://gitter.im/patternplate/Lobby) for more help. Cheers!

[2019-01-20 09:30] #322 closed

[2019-01-21 04:38] zacharyrs commented on #322
Hey!

Thanks a lot for the PR and demo, working wonderfully now!

I think I went wrong by reading the reference rather than the guide!
See [here](https://patternplate.github.io/doc/docs/reference/demos.html), where it implies you can simply export a string.

Is that still valid, or is the doc outdated?

[2019-03-01 09:39] popuguytheparrot opened #326 "Feat: show in console host and info about start app"
It would be very functional and convenient to see in the console information on which host the application is running and its status: build, error, etc.

example

[code]

[2019-06-03 10:12] popuguytheparrot commented on #326
closed issue cuz project is dead

[2019-06-03 10:12] #326 closed

[2019-06-19 17:41] AdrianoCahete opened #331 "Firefox overflow:scroll visual problem"
In Firefox, elements who will need a overflow, needs a `overflow: auto` instead of `overflow: scroll`.
With overflow set to `scroll`, the scrollbar is always shown, unlike when `auto` is used:

**Overflow: scroll**
![image](https://user-images.githubusercontent.com/37474/59787496-f2a70c00-929f-11e9-85f3-577ec31ebd3b.png)

**Overflow: auto**
![image](https://user-images.githubusercontent.com/37474/

[2019-06-20 16:29] AdrianoCahete opened #332 "Is this project still under development?"
Hey @marionebl @kotzendekrabbe @Palmaswell

This project will receive any update or it's really dead?
The last commit was in April and there's a few PR's opened...

I'm asking just to know if I can fork to fix some problems that I'm facing or if you'll fix in the next months.

[2019-06-22 10:49] Palmaswell commented on #332
Hi @AdrianoCahete ,

Thanks so much for reaching out.  This project is currently not under development, yet it's not dead :)
Please feel to create a PR out of your fork and assigned the PR to me.

Please let me know if you have any further questions.

[2019-06-22 16:54] #332 closed, assigned to nobody

[2020-02-05 09:27] pixelass opened #334 "Fixed react version causes invalid hooks call"
Since React hooks were introduced the render methods of patternplate don't work anymore.

[code]

I can try to use custom render and mount methods but it would be nice to see this work out of the box. (I think I already tried a while ago and still had the problem since react and react-dom are used as dependencies instead of peerDependencies throughout patterplate)

Live example: https://stickyroll

[2020-02-05 09:40] pixelass commented on #334
I just checked and it is in fact (as mentioned) tied to react being listed in the dependencies.

[2020-02-05 09:46] pixelass commented on #334
I added `resolutions` to my package.json

[code]

Error

[code]

[2020-02-05 10:03] pixelass opened #335 "maintenance status of patternplate"
It's been a long time since the last commit and I was wondering if patternplate is still actively maintained.

If so can you update the dependency management to support newer versions of react (see #334)

If not can you mention this in the readme?

Thank you for your help and time.

[2020-02-17 14:58] pixelass commented on #334
I've analyzed this issue a little further and the origin seems to be this file: https://github.com/patternplate/patternplate/blob/7f19af2dec0bdbe4b617fa1b9b29e537ebf1b690/packages/cover-client/index.js, specifically this line https://github.com/patternplate/patternplate/blob/7f19af2dec0bdbe4b617fa1b9b29e537ebf1b690/packages/cover-client/index.js#L4 for the cover
and the following for the demos:
*